version: '3'

services:
  freeipa:
    image: freeipa/freeipa-server:{{freeipa_image_version}}
    hostname: {{ipa_hostname}}
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 0
    ports:
      - {{ipa_bind_addr}}:80:80
      - {{ipa_bind_addr}}:443:443
      - {{ipa_bind_addr}}:389:389
      - {{ipa_bind_addr}}:636:636
      - {{ipa_bind_addr}}:88:88
      - {{ipa_bind_addr}}:464:464
      - {{ipa_bind_addr}}:88:88/udp
      - {{ipa_bind_addr}}:464:464/udp                              
    volumes:
      - ./ipadata:/data:Z
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    command:
      - ipa-server-install
      - --unattended
      - --realm={{ipa_realm}}
      - --no-ntp
      - --mkhomedir
      - --no_hbac_allow
      - --no-ssh 
      - --no-sshd
{% if freeipa_init is defined %}
      - --ds-password={{ds_password}}
      - --admin-password={{admin_password}}
{% endif %}
#    environment:
#    restart: always
#    logging:
#      driver: "none"
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
