<clickhouse>
    <access_control_improvements>
        <users_without_row_policies_can_read_rows>{{ click_users_without_row_policies_can_read_rows| default('true') }}</users_without_row_policies_can_read_rows>
        <on_cluster_queries_require_cluster_grant>{{ click_on_cluster_queries_require_cluster_grant | default('true') }}</on_cluster_queries_require_cluster_grant>
        <select_from_system_db_requires_grant>{{ click_select_from_system_db_requires_grant | default('true') }}</select_from_system_db_requires_grant>
        <select_from_information_schema_requires_grant>{{ click_select_from_information_schema_requires_grant | default('true') }}</select_from_information_schema_requires_grant>
        <settings_constraints_replace_previous>true</settings_constraints_replace_previous>
        <table_engines_require_grant>false</table_engines_require_grant>
        <role_cache_expiration_time_seconds>600</role_cache_expiration_time_seconds>
    </access_control_improvements>
</clickhouse>