## {{ ansible_managed }} ##

services:
  click:
    image: {{ click_registry | default('clickhouse') }}:{{ click_image }}
    container_name: click
    hostname: {{ansible_hostname}}
    network_mode: host
    volumes:
      - {{click_data_path}}:/var/lib/clickhouse
      - {{click_logs_path}}:/var/log/clickhouse-server/
      - {{ click_config_path }}/config.d:/etc/clickhouse-server/config.d
      - {{ click_config_path }}/users.d:/etc/clickhouse-server/users.d
      - {{ click_config_path }}/users-db:{{ click_user_directories_local_directory_path | default('/var/lib/clickhouse/access/')}}
{% if click_enable_ssl  is defined %}
      - {{click_ssl_path}}:{{click_ssl_path}}
{% endif %}
{% if click_storage_disk_cold_data_path  is defined %}
      - {{ click_storage_disk_cold_data_path }}:{{ click_storage_disk_cold_data_path }}
{% endif %}
    restart: {{ click_restart | default('always') }}
    init: true
    stop_grace_period: "{{ click_stop_grace_period | default('60s') }}"
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
