---
- name: Add k8s key - Ubuntu
  ansible.builtin.apt_key:
    url: "https://pkgs.k8s.io/core:/stable:/{{ k8s_cluster_minor_version }}/deb/Release.key"
    keyring: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
  when: apt_keyring_force_file is not defined

- name: Add k8s key from local file - Ubuntu
  ansible.builtin.apt_key:
    data: "{{ lookup('file', 'Release.' + k8s_cluster_minor_version + '.key') }}"
    keyring: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    state: present
  when: apt_keyring_force_file is defined

- name: print cluste minor  version
  ansible.builtin.debug:
    msg: version - "{{ k8s_cluster_minor_version }}"

#  address repo https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
- name: Add k8s repository
  ansible.builtin.apt_repository:
    repo: deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/{{ k8s_cluster_minor_version }}/deb/ /

# need for set corrected hostname
- name: restart systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    state: restarted
