server	{
    {% if nginx_bind_addr_ipv4 %}
    listen {{ nginx_bind_addr_ipv4 }}:{{ item.http_port | default("80") }} default_server;
    {% else %}
    listen {{ item.http_port | default("80") }} default_server;
    {% endif %}
	server_name	_;
	return	403;
}
