# worker_processes = CPU count http://nginx.org/ru/docs/ngx_core_module.html
worker_processes  auto;

#Number of file descriptors used for Nginx.
worker_rlimit_nofile 65535;

pid        /var/run/nginx.pid;

events {
              worker_connections  {{nginx_worker_connections}};
              # epoll — эффективный метод, используемый в Linux 2.6+ http://nginx.org/ru/docs/events.html
              use epoll;
              # Рабочий процесс за один раз будет принимать сразу все новые соединения
              multi_accept on;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    #Number of requests a client can make over the keep-alive connection.
    keepalive_requests 1000;

    #Allow the server to close the connection after a client stops responding.
        reset_timedout_connection on;

        include /etc/nginx/include/{{nginx_requestid_source}};
        include /etc/nginx/include/log_format.conf;

        access_log  {{nginx_log_path}}/access.log  main;
        error_log  {{nginx_log_path}}/error.log warn;

        server_tokens off;

############ base section #####
    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   180;
    proxy_read_timeout  300;
    gzip  on;
    client_max_body_size 32m;
####### end base section####

	# start include section
	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*.conf;
	include /etc/nginx/upstream.d/*.conf;
# set real ip
	include /etc/nginx/include/ddos-guard-ip-list.conf;
}

