worker_processes  auto;

#Number of file descriptors used for Nginx.
worker_rlimit_nofile 100000;

pid        /var/run/nginx.pid;

events {
              worker_connections  4096;
              use epoll;
              # A worker process will accept all new connections at a time. http://nginx.org/ru/docs/ngx_core_module.html
              multi_accept on;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    #Number of requests a client can make over the keep-alive connection.
    keepalive_requests 1000;

    #Allow the server to close the connection after a client stops responding.
    reset_timedout_connection on;

#    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
#                      '$status $body_bytes_sent "$http_referer" '
#                      '"$http_user_agent" "$http_x_forwarded_for"';
#    log_format advanced '$remote_addr - $remote_user [$time_local] - $server_name:$server_port to: $upstream_addr: '
#                        '"$request" $status $body_bytes_sent '
#                        '"$http_referer" "$http_user_agent" "$request_time" '
#                        '"$upstream_response_time" "$http_x_forwarded_for"';

        include /etc/nginx/include/{{nginx_requestid_source}};
        include /etc/nginx/include/log_format.conf;

        access_log  {{nginx_log_path}}/access.log  main;
        error_log  {{nginx_log_path}}/error.log warn;

        server_tokens off;

############ base section #####
    sendfile        on;
    tcp_nopush     on;
    gzip  on;
####### end base section####

##  nexus  https://help.sonatype.com/repomanager3/installation/run-behind-a-reverse-proxy#RunBehindaReverseProxy-nginx
  proxy_send_timeout 120;
  proxy_read_timeout 300;
  proxy_buffering    off;
  keepalive_timeout  5 5;
  tcp_nodelay        on;
### end graylog sectiop

### start include section
	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*.conf;
	include /etc/nginx/upstream.d/*.conf;

}

