# worker_processes = CPU count http://nginx.org/ru/docs/ngx_core_module.html
worker_processes  auto;

#Number of file descriptors used for Nginx.
worker_rlimit_nofile 100000;

pid        /var/run/nginx.pid;

events {
              worker_connections  4096;
              # epoll — эффективный метод, используемый в Linux 2.6+ http://nginx.org/ru/docs/events.html
              use epoll;
              # Рабочий процесс за один раз будет принимать сразу все новые соединения
              multi_accept on;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    #Number of requests a client can make over the keep-alive connection.
    keepalive_requests 1000;

    #Allow the server to close the connection after a client stops responding.
    reset_timedout_connection on;

#    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
#                      '$status $body_bytes_sent "$http_referer" '
#                      '"$http_user_agent" "$http_x_forwarded_for"';
#    log_format advanced '$remote_addr - $remote_user [$time_local] - $server_name:$server_port to: $upstream_addr: '
#                        '"$request" $status $body_bytes_sent '
#                        '"$http_referer" "$http_user_agent" "$request_time" '
#                        '"$upstream_response_time" "$http_x_forwarded_for"';

        include /etc/nginx/include/{{nginx_requestid_source}};
        include /etc/nginx/include/log_format.conf;

        access_log  {{nginx_log_path}}/access.log  main;
        error_log  {{nginx_log_path}}/error.log warn;

	#### PCI-DSS Compliance # Don’t show the Nginx version number (in error pages / headers)
        server_tokens off;

############ base section #####
    sendfile        on;
    tcp_nopush     on;
    tcp_nodelay on;
    keepalive_timeout  30;
    gzip  on;
####### end base section####

##### old section
##    types_hash_max_size 2048;
##    gzip  on;
##    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript image/svg+xml;
##    proxy_cache_path /var/cache/nginx/cache levels=1:2 keys_zone=crawler:30m max_size=1G;
##    proxy_temp_path /var/cache/nginx/proxy 1 2;
##    proxy_cache_key $http_host$uri$is_args$args;
##    proxy_ignore_headers Expires Cache-Control;
##
##    limit_conn_zone $server_name zone=perserver:10m;
##    client_max_body_size 10m;
### end old section

	# start include section
	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*.conf;
	include /etc/nginx/upstream.d/*.conf;

}

