NOTIXY_LISTEN_ADDR={{ notixy_api_listen_addr }}
NOTIXY_DATABASE_URL={{ notixy_api_database_url }}
NOTIXY_SEND_TOKEN={{ notixy_api_send_token }}
APNS_KEY_ID={{ notixy_api_apns_key_id }}
APNS_P8={{ notixy_api_apns_p8 | replace('\n', '\\n') }}
APNS_TEAM_ID={{ notixy_api_apns_team_id }}
APNS_TOPIC={{ notixy_api_apns_topic }}
