net.bridge.bridge-nf-call-iptables  = 1
net.bridge.bridge-nf-call-ip6tables = 1
net.ipv4.ip_forward                 = 1
net.ipv4.conf.all.forwarding        = 1
net.ipv6.conf.all.forwarding        = 1
# Increase inotify limits for Kubernetes
fs.inotify.max_user_instances = 8192
fs.inotify.max_user_watches   = 524288
fs.inotify.max_queued_events  = 16384