groups:
- name: disks alert rules
  rules:
  - alert: CriticalDiskSpace lower 10
    expr: 'node_filesystem_free_bytes{mountpoint!~"^/run(/.*|$)",fstype!~"(squashfs|fuse.*)",job=~"node.*.exporter"} / node_filesystem_size_bytes{job=~"node.*.exporter"} < 0.1'
    for: 4m
    labels:
      severity: critical
    annotations:
      description: "{% raw %}{{ $labels.instance }} of job {{ $labels.job }} has less than 10% space remaining.{% endraw %}"
      summary: "{% raw %}Instance {{ $labels.instance }} - Critical disk space usage{% endraw %}"
  - alert: CriticalDiskSpace lower 5
    expr: 'node_filesystem_free_bytes{mountpoint!~"^/run(/.*|$)",fstype!~"(squashfs|fuse.*)",job=~"node.*.exporter"} / node_filesystem_size_bytes{job=~"node.*.exporter"} < 0.05'
    for: 4m
    labels:
      severity: critical
    annotations:
      description: "{% raw %}{{ $labels.instance }} of job {{ $labels.job }} has less than 5% space remaining.{% endraw %}"
      summary: "{% raw %}Instance {{ $labels.instance }} - Critical disk space usage{% endraw %}"
#### https://samber.github.io/awesome-prometheus-alerts/rules#host-and-hardware
  # Please add ignored mountpoints in node_exporter parameters like
  # "--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run)($|/)".
  # Same rule using "node_filesystem_free_bytes" will fire when disk fills for non-root users.
  - alert: HostOutOfDiskSpace - 10
    expr: '(((node_filesystem_avail_bytes * 100) / node_filesystem_size_bytes < 10) and ON (instance, device, mountpoint) node_filesystem_readonly == 0) * on(instance) group_left (nodename) node_uname_info{nodename=~".+"}'
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of disk space (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost full (< 10% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfDiskSpace - 20
    expr: |
      (((node_filesystem_avail_bytes{tags!~"{{ excld_tags_out_of_disk_space_20 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"} * 100) 
        / node_filesystem_size_bytes < 20) 
      and ON (instance, device, mountpoint) node_filesystem_readonly == 0)
      * on(instance) group_left (nodename) node_uname_info{instance!~"{{ excld_inst_out_of_disk_space_20 | join('|') }}"}
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of disk space (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost full (< 20% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfDiskSpace - 30
    expr: |
      (((node_filesystem_avail_bytes{tags!~"{{ excld_tags_out_of_disk_space_30 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"} * 100) 
        / node_filesystem_size_bytes < 30) 
      and ON (instance, device, mountpoint) node_filesystem_readonly == 0)
      * on(instance) group_left (nodename) node_uname_info{instance!~"{{ excld_inst_out_of_disk_space_30 | join('|') }}"}
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of disk space (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost full (< 30% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostDiskWillFillIn24Hours
    expr: '(((node_filesystem_avail_bytes * 100) / node_filesystem_size_bytes < 10) and ON (instance, device, mountpoint) predict_linear(node_filesystem_avail_bytes{fstype!~"tmpfs"}[1h], 24 * 3600) < 0 and ON (instance, device, mountpoint) node_filesystem_readonly == 0) * on(instance) group_left (nodename) node_uname_info{nodename=~".+"}'
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host disk will fill in 24 hours (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Filesystem is predicted to run out of space within the next 24 hours at current write rate\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfInodes - 10
    expr: '((node_filesystem_files_free / node_filesystem_files * 100 < 10) and ON (instance, device, mountpoint) node_filesystem_readonly == 0) * on(instance) group_left (nodename) node_uname_info{nodename=~".+"}'
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of inodes (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost running out of available inodes (< 10% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfInodes - 20
    expr: '((node_filesystem_files_free / node_filesystem_files * 100 < 20) and ON (instance, device, mountpoint) node_filesystem_readonly == 0) * on(instance) group_left (nodename) node_uname_info{nodename=~".+"}'
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of inodes (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost running out of available inodes (< 20% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfInodes - 30
    expr: '((node_filesystem_files_free / node_filesystem_files * 100 < 30) and ON (instance, device, mountpoint) node_filesystem_readonly == 0) * on(instance) group_left (nodename) node_uname_info{nodename=~".+"}'
    for: 2m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of inodes (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost running out of available inodes (< 30% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HighDiskIOPS - 10m over 500 iops
    expr: >
      rate(node_disk_reads_completed_total{instance!~"{{ excld_inst_high_disk_iops_15m | join('|') }}"}[15m]) +
      rate(node_disk_writes_completed_total[15m]) > 500
    for: 10m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}High Disk IOPS on instance {{ $labels.instance }}{% endraw %}"
      description: "{% raw %}Disk IOPS on instance {{ $labels.instance }} has exceeded 100 IOPS over the last 10 minutes.\nCurrent IOPS: {{ printf \"%.2f\" $value }}{% endraw %}"
  - alert: HighDiskIOPS - 1h over 500 iops
    expr: >
      rate(node_disk_reads_completed_total{instance!~"{{ excld_inst_high_disk_iops_1h | join('|') }}"}[1h]) +
      rate(node_disk_writes_completed_total[1h]) > 500
    for: 1h
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}High Disk IOPS on instance {{ $labels.instance }}{% endraw %}"
      description: "{% raw %}Disk IOPS on instance {{ $labels.instance }} has exceeded 100 IOPS over the last 1 hour.\nCurrent IOPS: {{ printf \"%.2f\" $value }}{% endraw %}"