groups:
- name: disks alert rules
  rules:

  - alert: DiskSpace lower 5 percent. сritical
    expr: ((node_filesystem_free_bytes{mountpoint!~"^/run(/.*|$)",fstype!~"(squashfs|fuse.*)",job=~"node.*.exporter",tags!~"{{ excld_tags_critical_disk_space_5 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}",instance!~"{{ excld_inst_critical_disk_space_5 | join('|') }}"} * 100) / node_filesystem_size_bytes{job=~"node.*.exporter"} < 5) and ON (instance, device, mountpoint) node_filesystem_readonly == 0
    for: 5m
    labels:
      severity: critical
    annotations:
      description: "{% raw %}{{ $labels.instance }} of job {{ $labels.job }} has less than 5% space remaining.{% endraw %}"
      summary: "{% raw %}Instance {{ $labels.instance }} - Critical disk space usage{% endraw %}"


#### https://samber.github.io/awesome-prometheus-alerts/rules#host-and-hardware
  # Please add ignored mountpoints in node_exporter parameters like
  # "--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|run)($|/)".
  # Same rule using "node_filesystem_free_bytes" will fire when disk fills for non-root users.
  - alert: HostOutOfDiskSpace - 5
    expr: |
      ((node_filesystem_avail_bytes{tags!~"{{ excld_tags_out_of_disk_space_5 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}",instance!~"{{ excld_inst_out_of_disk_space_5 | join('|') }}"} * 100) 
        / node_filesystem_size_bytes < 5) 
      and ON (instance, device, mountpoint) node_filesystem_readonly == 0
    for: 10m
    labels:
      severity: critical
    annotations:
      summary: "{% raw %}Host out of disk space (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost full (< 5% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfDiskSpace - 10
    expr: |
      ((node_filesystem_avail_bytes{tags!~"{{ excld_tags_out_of_disk_space_10 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}",instance!~"{{ excld_inst_out_of_disk_space_10 | join('|') }}"} * 100) 
        / node_filesystem_size_bytes < 10) 
      and ON (instance, device, mountpoint) node_filesystem_readonly == 0
    for: 10m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of disk space (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost full (< 10% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfDiskSpace - 20
    expr: |
      ((node_filesystem_avail_bytes{tags!~"{{ excld_tags_out_of_disk_space_20 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}",instance!~"{{ excld_inst_out_of_disk_space_20 | join('|') }}"} * 100) 
        / node_filesystem_size_bytes < 20) 
      and ON (instance, device, mountpoint) node_filesystem_readonly == 0
    for: 10m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of disk space (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost full (< 20% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfDiskSpace - 30
    expr: |
      ((node_filesystem_avail_bytes{tags!~"{{ excld_tags_out_of_disk_space_30 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}",instance!~"{{ excld_inst_out_of_disk_space_30 | join('|') }}"} * 100) 
        / node_filesystem_size_bytes < 30) 
      and ON (instance, device, mountpoint) node_filesystem_readonly == 0
    for: 5m
    labels:
      severity: info
    annotations:
      summary: "{% raw %}Host out of disk space (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost full (< 30% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"

  - alert: HostDiskWillFillIn24Hours
    expr: '(((node_filesystem_avail_bytes{tags!~"{{ excld_tags_disk_fill_24h | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}",instance!~"{{ excld_inst_disk_fill_24h | join('|') }}"} * 100) / node_filesystem_size_bytes < 10) and ON (instance, device, mountpoint) predict_linear(node_filesystem_avail_bytes{fstype!~"tmpfs"}[1h], 24 * 3600) < 0 and ON (instance, device, mountpoint) node_filesystem_readonly == 0)'
    for: 10m
    labels:
      severity: info
    annotations:
      summary: "{% raw %}Host disk will fill in 24 hours (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Filesystem is predicted to run out of space within the next 24 hours at current write rate\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfInodes - 10
    expr: '((node_filesystem_files_free / node_filesystem_files * 100 < 10) and ON (instance, device, mountpoint) node_filesystem_readonly == 0)'
    for: 10m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of inodes (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost running out of available inodes (< 10% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfInodes - 20
    expr: '((node_filesystem_files_free / node_filesystem_files * 100 < 20) and ON (instance, device, mountpoint) node_filesystem_readonly == 0)'
    for: 10m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Host out of inodes (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost running out of available inodes (< 20% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HostOutOfInodes - 30
    expr: '((node_filesystem_files_free / node_filesystem_files * 100 < 30) and ON (instance, device, mountpoint) node_filesystem_readonly == 0)'
    for: 10m
    labels:
      severity: info
    annotations:
      summary: "{% raw %}Host out of inodes (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Disk is almost running out of available inodes (< 30% left)\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"
  - alert: HighDiskIOPS - 15m over 500 iops
    expr: >
      rate(node_disk_reads_completed_total{instance!~"{{ excld_high_disk_iops500_15m_inst | join('|') }}", tags!~"{{ excld_tags_high_disk_iops_15m | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"}[15m]) +
      rate(node_disk_writes_completed_total[15m]) > 500
    for: 15m
    labels:
      severity: info
    annotations:
      summary: "{% raw %}High Disk IOPS on instance {{ $labels.instance }}{% endraw %}"
      description: "{% raw %}Disk IOPS on instance {{ $labels.instance }} has exceeded 500 IOPS over the last 15 minutes.\nCurrent IOPS: {{ printf \"%.2f\" $value }}{% endraw %}"
  - alert: HighDiskIOPS - 1h over 500 iops
    expr: >
      rate(node_disk_reads_completed_total{instance!~"{{ excld_high_disk_iops500_1h_inst | join('|') }}", tags!~"{{ excld_tags_high_disk_iops_1h | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"}[1h]) +
      rate(node_disk_writes_completed_total[1h]) > 500
    for: 1h
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}High Disk IOPS on instance {{ $labels.instance }}{% endraw %}"
      description: "{% raw %}Disk IOPS on instance {{ $labels.instance }} has exceeded 500 IOPS over the last 1 hour.\nCurrent IOPS: {{ printf \"%.2f\" $value }}{% endraw %}"

  - alert: NodeDiskIOSaturation
    expr: |
      rate(node_disk_io_time_weighted_seconds_total{job="node-exporter", device!="", instance!~"{{ excld_inst_node_disk_io_saturation | join('|') }}", tags!~"{{ excld_tags_node_disk_io_saturation | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"}[5m]) > 10
    for: 30m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Disk IO queue is high on {{ $labels.device }} ({{ printf \"%.2f\" $value }}){% endraw %}"
      description: "{% raw %}Disk IO queue (aqu-sq) is high on {{ $labels.device }} at {{ $labels.instance }}. Sustained over 10 for the last 30 minutes. This may indicate disk saturation.{% endraw %}"

  - alert: HighOpenFileDescriptors over 50k
    expr: (node_filefd_allocated{instance!~"{{ excld_inst_high_fd_50k | join('|') }}", tags!~"{{ excld_tags_high_fd_50k | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"} > {{ open_fd_threshold_50k | default(50000) }})
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}High number of open file descriptors (instance {{ $labels.instance }}){% endraw %}"
      description: "{% raw %}Node exporter has more than 50000 open file descriptors for more than 5 minutes.\n  VALUE = {{ printf \"%.2f\" $value }}\n  LABELS = {{ $labels }}{% endraw %}"

  - alert: HighOpenFileDescriptors over 80%
    expr: >
      (
        node_filefd_allocated{instance!~"{{ excld_inst_high_fd_percent_80 | join('|') }}", tags!~"{{ excld_tags_high_fd_percent_80 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"}
        / node_filefd_maximum{instance!~"{{ excld_inst_high_fd_percent_80 | join('|') }}", tags!~"{{ excld_tags_high_fd_percent_80 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"}
      ) * 100 > {{ open_fd_threshold_percent_80 | default(80) }}
      AND node_filefd_maximum{instance!~"{{ excld_inst_high_fd_percent_80 | join('|') }}", tags!~"{{ excld_tags_high_fd_percent_80 | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"} < 1000000000000
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}High FD usage on {{ $labels.instance }} ({{ printf \"%.2f\" $value }}%%){% endraw %}"
      description: "{% raw %}Open file descriptors usage is above 80%% on {{ $labels.instance }} for more than 5 minutes.\nLABELS = {{ $labels }}{% endraw %}"