{{ ansible_managed | comment }}

groups:
- name: Blockchain Node alert rules
  rules:
  - alert: BlockchainNodeUnreachable - v2
    annotations:
      description: "{% raw %}Node Unreachable: {{ $labels.name }}{% endraw %}"
      summary: Blockchain node is unreachable
    expr: blockchain_node_up{namespace!~"{{ excl_ns_blockchain_node_unreachable | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"} == 0
    for: 5m
    labels:
      severity: critical
  
  - alert: BlockchainNodeNotSynced - v2
    annotations:
      description: "{% raw %}Node Not Synced: {{ $labels.name }}{% endraw %}"
      summary: Blockchain node is not synced
    expr: blockchain_node_synced{namespace!~"{{ excl_ns_blockchain_node_not_synced | map('regex_replace', '^(.*)$', '.*\\1.*') | join('|') }}"} == 0
    for: 10m
    labels:
      severity: warning