{{ ansible_managed | comment }}

groups:
- name: consul alert rules
  rules:
  - alert: Consul_service_status
    expr: 'consul_state_service_instances{datacenter=~".+"} == 0'
    for: 1m
    labels:
      severity: warning
    annotations:
      summary: "{% raw %}Catalog service consul healthckeck failed{% endraw %}"
      description: "{% raw %}Service: {{ $labels.service_name }} to {{ $labels.node }}{% endraw %}"
  - alert: Consul_missing_master_node
    expr: 'consul_members_servers{datacenter=~".+"} < 3'
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "{% raw %}Numbers of consul raft peers should be 5, in order to preserve quorum{% endraw %}"
      description: "{% raw %}Consul raft peers {{ $value }} - {{ $labels.instance }}{% endraw %}"
  - alert: Consul_autopilot_unhealthy
    expr: 'consul_autopilot_healthy == 0'
    for: 1m
    labels:
      severity: critical
    annotations:
      summary: "{% raw %}Consul autopilot reports unhealthy cluster{% endraw %}"
      description: "{% raw %}Consul autopilot health check failed on instance {{ $labels.instance }}{% endraw %}"
  - alert: Consul_agent_inhealthy
    expr: sum by (dc)(consul_server_isLeader == 1) != 1
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: "{% raw %}Inconsistent Consul leader state{% endraw %}"
      description: "{% raw %}Mismatch between reported raft leader and agent claiming leadership in dc={{ $labels.dc }}. This may indicate telemetry issues or potential split-brain.{{ $value }}{% endraw %}"
