{{ ansible_managed | comment }}

groups:
- name: http code alert rules
  rules:
  - alert: HTTP-200-Fail-general
    expr: probe_http_status_code{job="blackbox_200x_without_auth"} != 200
    for: 1m
    labels:
      severity: warning
    annotations:
      description: "{% raw %}{{ $labels.instance }} response code not eq 200{% endraw %}"
      summary: "{% raw %}\n
      Instance {{ $labels.instance }} - response code not eq - {{ humanize $value }}.\n
      HTTP_CODE = {{ printf \"%.2f\" $value }}\n
      TIMESTAMP = {{ with query \"time()\" }}{{ . | first | value | humanizeTimestamp }}{{ end }} 
      {% endraw %}"
  - alert: HTTP-200-Fail-devel
    expr: (probe_http_status_code{instance=~"{{ incl_http_200_devel_instance | join('|') }}"}) != 200
    for: 2m
    labels:
      severity: warning
      notify_channel_devel_team: true
    annotations:
      summary: "{% raw %}Instance {{ $labels.instance }} returned status code {{ printf \"%.2f\" $value }}. {% endraw %}"
      description: "{% raw %}{{ $labels.instance }} HTTP response is not 200. It returned {{ $value }}. {% endraw %}"
  - alert: HTTP-200-Fail-critical-channel
    expr: (probe_http_status_code{instance=~"{{ incl_http_200_critical_channel_instance | join('|') }}"}) != 200
    for: 2m
    labels:
      severity: warning
      notify_channel_critical: true
    annotations:
      summary: "{% raw %}Instance {{ $labels.instance }} returned status code {{ printf \"%.2f\" $value }}. {% endraw %}"
      description: "{% raw %}{{ $labels.instance }} HTTP response is not 200. It returned {{ $value }}. {% endraw %}"
  - alert: HTTP-404-Fail-general
    expr: probe_http_status_code{job="blackbox_404"} != 404
    for: 5m
    labels:
      severity: warning
    annotations:
      description: "{% raw %}{{ $labels.instance }} response code not eq 200{% endraw %}"
      summary: "{% raw %}\n
      Instance {{ $labels.instance }} - response code not eq - {{ humanize $value }}.\nHTTP_CODE = {{ printf \"%.2f\" $value }} \n
      TIMESTAMP = {{ with query \"time()\" }}{{ . | first | value | humanizeTimestamp }}{{ end }}
      {% endraw %}"
  - alert: HTTP-404-Fail-devel
    expr: (probe_http_status_code{instance=~"{{ incl_http_404_devel_instance | join('|') }}"}) != 404
    for: 2m
    labels:
      severity: warning
      notify_channel_devel_team: true
    annotations:
      description: "{% raw %}{{ $labels.instance }} HTTP response is not 404. It returned {{ $value }}. {% endraw %}"
      summary: "{% raw %}Instance {{ $labels.instance }} returned status code {{ printf \"%.2f\" $value }}. {% endraw %}"
  - alert: HTTP-404-Fail-critical-channel
    expr: (probe_http_status_code{instance=~"{{ incl_http_404_critical_channel_instance | join('|') }}"}) != 404
    for: 2m
    labels:
      severity: warning
      notify_channel_critical: true
    annotations:
      description: "{% raw %}{{ $labels.instance }} HTTP response is not 404. It returned {{ $value }}. {% endraw %}"
      summary: "{% raw %}Instance {{ $labels.instance }} returned status code {{ printf \"%.2f\" $value }}. {% endraw %}"

