services:
  prometheus:
    image: prom/prometheus:{{prometheus_image}}
    container_name: prometheus
    hostname: {{ansible_hostname}}
    network_mode: host
    volumes:
      - {{ prometheus_base_path }}:{{ prometheus_base_path }}
    restart: {{ prometheus_restart | default('always') }}
    command: >
{% for p in prometheus_command_run %}
      --{{ p }}
{% endfor %}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
