## {{ ansible_managed }} ##

services:
  redis-exporter:
    image: bitnami/redis-exporter:{{ redis_exporter_image }}
    container_name: redis-exporter
    hostname: redis-exporter-{{ansible_hostname}}
    network_mode: host
    environment:
      - REDIS_ADDR={{ redis_host | default('localhost') }}:{{ redis_port | default(6379) }}
{% if redis_password is defined %}
      - REDIS_PASSWORD={{ redis_default_password | default('set_me') }}
{% endif %}
    restart: {{ redis_exporter_restart | default('always') }}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
