{"server":"::","ipv6_first":true,"hostname":"{{ outline_hostname }}","portForNewAccessKeys":{{ outline_sb_keys_port }},"name":"{{ outline_sb_default_server_name | default('Outline server') }}", "metricsEnabled":false}
