[defaults]
; jinja2_native = true # depreacate 2.19 version
inventory      = hosts
; forks          = 4
# interpreter_python = /usr/bin/python3
interpreter_python = python3
host_key_checking = False
stdout_callback = debug
; ansible_managed = Ansible managed file: {file} modified by {uid} on {host} # depreacate 2.19 version
fact_caching = memory

# enable changes
# ALLOW_BROKEN_CONDITIONALS = True # use only actual version ansible  not use hack
# callback_whitelist=profile_tasks # deprecated  new version  callbacks_enabled
callbacks_enabled=profile_tasks
[inventory]
[privilege_escalation]
[paramiko_connection]
[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=120s
control_path_dir = ~/.ansible/cp
control_path =  %(directory)s/%%h-%%p-%%r
pipelining = True
scp_if_ssh = True
[persistent_connection]
[accelerate]
[selinux]
[colors]
[diff]


