# {{ ansible_managed }}

services:
  redis:
    image: {{ redis_image }}:{{ redis_version }}
    container_name: redis
    hostname: redis-{{ stand_type }}
# work only bridge
#    sysctls:
#      net.core.somaxconn : 65535
    network_mode: host
    volumes:
      - {{ redis_base_path }}:{{ redis_base_path }}
    command: redis-server {{redis_conf_path}}/redis.conf
{% if redis_restart is defined %}
    restart: always
{% endif %}
    logging:
{% if vector is defined %}
      driver: fluentd
      options:
        fluentd-address: {{vector_server_fluent_address}}:{{ vector_server_fluent_port | default('24224') }}
        tag:  {{ psql_docker_container_name | default('redis') }}
        fluentd-async: "{{ fluent_async | default('true') }}"
        fluentd-buffer-limit: "{{ fluendt_buffer_limit | default('200000') }}"
{% else %}
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
{% endif %}
