enable_local_script_checks = true
service {
  name = "{{ redis_consul_service_name | default('redis') }}"
  tags = ["redis", "{{ stand_type }}"]
  address = "{{ redis_service_bind_addr }}"
  port = {{ redis_port }}
{% if consul_agent_disabled is not defined %}
  token = "{{ redis_consul_token }}"
{% endif %}
  check = {
    id = "healthcheck redis service"
    name = "redis healthcheck"
    tcp = "{{ redis_service_bind_addr }}:{{ redis_port }}"
    interval =  "30s"
    timeout =  "2s"
  }
}
