---
- name: "Create SSL folders"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: root
    group: root
  with_items:
    - "/opt/ssl"
    - "{{ ssl_path }}"
