services:
  mtproxy:
    image: telegrammessenger/proxy:{{mtproxy_image_version | default('latest')}}
    container_name: mtproxy
    hostname: mtproxy-{{ stand_type | default('none') }}
    network_mode: host
{% if mtproxy_restart is defined %}
    restart: always
{% endif %}
    volumes:
      - {{mtproxy_conf_path}}:/data
    environment:
      - SECRET={{mtproxy_secret | default('a5300dda6ca704e8d19eeeeb82a85ee2')}}





