[Resolve]
{% if cloud_provider is defined and cloud_provider != 'aws' %}
DNS={{dns1}} {{dns2}}
{% endif %}
Domains={% for dom in  domains %}{% if ansible_distribution == 'CentOS' %}~{% endif %}{{dom}} {% endfor %}

Cache=no-negative
LLMNR=false