# {{ansible_managed}}
# This file holds shared secrets or RSA private keys for authentication.

# RSA private key for this host, authenticating it to any other host
# which knows the public part.

# source      destination
{% for peer in  strongswan.peers %}
{{peer.ip_src}} {{peer.ip_dst}} : PSK "{{ vault_dict_users_secret.preshared }}"
{% endfor %}
