## {{ ansible_managed }} ##

AddressFamily inet
Protocol 2

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
RekeyLimit 1G 1H
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group18-sha512,diffie-hellman-group16-sha512,diffie-hellman-group14-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

SyslogFacility AUTHPRIV

# user sessions
PermitRootLogin no
MaxAuthTries 3
MaxSessions 5
ClientAliveInterval 3600
ClientAliveCountMax 6
TCPKeepAlive yes

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
HostbasedAuthentication no
IgnoreRhosts yes
PermitEmptyPasswords no
PasswordAuthentication no
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
GSSAPICleanupCredentials yes

UsePAM yes
X11UseLocalhost no
PermitUserEnvironment no

UseDNS no
MaxStartups 10:50:30
PermitTunnel no

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

{% if ansible_distribution == 'CentOS' %}
Subsystem sftp    /usr/libexec/openssh/sftp-server
{% else %}
Subsystem sftp /usr/lib/openssh/sftp-server
{% endif %}

# Enable AllowAgentForwarding if you need to jump through this host
{% if mgmt_jump is sameas true %}
AllowAgentForwarding yes
AllowTcpForwarding yes
{% else %}
AllowAgentForwarding yes
AllowTcpForwarding no
{% endif %}
X11Forwarding no
PrintMotd no
Compression no

KbdInteractiveAuthentication yes

# for ipa
AuthorizedKeysCommand /usr/bin/sss_ssh_authorizedkeys
AuthorizedKeysCommandUser nobody