services:
  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:v{{ postgres_exporter_version }}
    container_name: postgres-exporter
    network_mode: host
    restart: always
    environment:
      DATA_SOURCE_NAME: "{{ postgres_exporter_dsn }}"
    command:
      - '--web.listen-address=:{{ postgres_exporter_bind_port }}'
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
