## Example hard limit for max opened files
*   hard nofile {{hard_nofile | default (1000000) }}
*   hard nproc {{hard_nproc| default (1000000) }}

## Example soft limit for max opened files
*   soft nofile {{soft_nofile | default (1000000) }}
*   soft nproc {{soft_nproc| default (1000000) }}
