// ## {{ ansible_managed }} ##
//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//
// See the BIND Administrator's Reference Manual (ARM) for details about the
// configuration located in /usr/share/doc/bind-{version}/Bv9ARM.html

options {
{% if dc_location != 'fsn' %}
	listen-on port 53 { any; };
	listen-on-v6 port 53 { any; };
{% endif %}
{% if dc_location == 'fsn' %}
	listen-on port 53 { {{ ansible_facts[second_interface_name].ipv4.address }}; };
	listen-on-v6 port 53 { none; };
{% endif %}
	directory "{{named_dir_path}}";
	dump-file "{{named_dir_path}}/data/cache_dump.db";
	statistics-file "{{named_dir_path}}/data/named_stats.txt";
	memstatistics-file "{{named_dir_path}}/data/named_mem_stats.txt";
	allow-query     { any; };
	# allow load  query servers
//        include "{{named_dir_path}}/acl/query-servers-acl";

	/*
	 - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
	 - If you are building a RECURSIVE (caching) DNS server, you need to enable
	   recursion.
	 - If your recursive DNS server has a public IP address, you MUST enable access
	   control to limit queries to your legitimate users. Failing to do so will
	   cause your server to become part of large scale DNS amplification
	   attacks. Implementing BCP38 within your network would greatly
	   reduce such attack surface
	*/
	recursion yes;
{% if ansible_distribution == 'CentOS' %}
	dnssec-enable no;
{% endif %}
	dnssec-validation no;
{% if ansible_distribution == 'CentOS' %}
	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";
{% endif %}

	managed-keys-directory "{{named_dir_path}}/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

#logging {
#        channel default_debug {
#                file "data/named.run";
#                severity dynamic;
#        };
#};

logging {
        channel default_file {
# below log comment ifOSSIm login, else disable logging to syslog /var/log/message
               file "/var/log/named/named.log" versions 7 size 10m;
# below string enable loggin to syslog
#                syslog daemon;
                severity dynamic;
                print-time yes;
                };
        category default { default_file; };
        };

{% if ansible_distribution == 'CentOS' %}
zone "." IN {
	type hint;
	file "named.ca";
};
{% endif %}
{% if ansible_distribution == 'Ubuntu' %}
// prime the server with knowledge of the root servers
zone "." {
        type hint;
        file "/usr/share/dns/root.hints";
};
{% endif %}


#### ANSIBLE MANAGEMENT ######
{% for dns in  dns.zones  %}
### line of separation zone
zone "{{dns.name}}" {
        type {{dns.type}};
{% if dns.master is defined %}
        masters { {{dns.master}}; };
{% endif %}
        file "{{dns.type}}/{{dns.name}}.zone";
{% if dns.transfer is defined %}
### also notify
        also-notify {
{% for transfer in  dns.transfer  %}
        {{transfer}};
{% endfor %}
       };
{% endif %}
#####
        allow-transfer     {
{% if dns.transfer is defined %}
{% for slave in  dns.transfer  %}
	{{slave}};
{% endfor %}
{% else %}
	none;
{% endif %}
	};
	notify {{dns.notify|default('yes')}};
	zone-statistics yes;
};
{% endfor %}
# allow prometheus statistic
statistics-channels {
        inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

{% if ansible_distribution == 'CentOS' %}
include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
{% endif %}

