## {{ ansible_managed }} ##

listen_addresses = '{{psql_bind_addr}}'
max_connections = {{ psql_max_connections | default('100') }}			# (change requires restart)

{% if psql_tls %}
ssl = on
{% endif %}
{% if psql_tls and psql_cert is defined %}
ssl_cert_file = '{{ psql_cert }}'
{% endif %}
{% if psql_tls and psql_privkey is defined %}
ssl_key_file = '{{ psql_privkey }}'
{% endif %}

shared_buffers = {{ psql_shared_buffers | default('128MB') }}			# min 128kB
work_mem = {{ psql_work_mem | default('4MB') }}				# min 64kB
hash_mem_multiplier = {{ psql_hash_mem_multiplier | default('2.0') }}		# 1-1000.0 multiplier on hash table work_mem
maintenance_work_mem = {{ psql_maintenance_work_mem | default('64MB') }}		# min 64kB
dynamic_shared_memory_type = posix					# the default is usually the first option
vacuum_buffer_usage_limit = {{ psql_vacuum_buffer_usage_limit | default('2MB') }}	# size of vacuum and analyze buffer access strategy ring

effective_io_concurrency = {{ psql_effective_io_concurrency | default('1') }}		# 1-1000; 0 disables prefetching
io_combine_limit = {{ psql_io_combine_limit | default('128kB') }}			# usually 1-32 blocks (depends on OS)
max_worker_processes = {{ psql_max_worker_processes | default('8') }}		# (change requires restart)
max_parallel_workers_per_gather = {{ psql_max_parallel_workers_per_gather | default('2') }}	# limited by max_parallel_workers
max_parallel_maintenance_workers = {{ psql_max_parallel_maintenance_workers | default('2') }}	# limited by max_parallel_workers
max_parallel_workers = {{ psql_max_parallel_workers | default('8') }}		# number of max_worker_processes that can be used in parallel

{% if psql_replication is defined %}
wal_level = {{psql_wal_level}}
{% endif %}
wal_buffers = {{ psql_wal_buffers | default('-1') }}			# min 32kB, -1 sets based on shared_buffers
{% if psql_recovery_prefetch is defined %}
recovery_prefetch = {{ psql_recovery_prefetch }}				# prefetch pages referenced in the WAL?
wal_decode_buffer_size = {{ psql_wal_decode_buffer_size | default('512kB') }}	# lookahead window used for prefetching
{% endif %}

checkpoint_completion_target = {{ psql_checkpoint_completion_target | default('0.9') }}	# checkpoint target duration, 0.0 - 1.0
max_wal_size = {{ psql_max_wal_size | default('1GB') }}
min_wal_size = {{ psql_min_wal_size | default('80MB') }}
{% if psql_summarize_wal is defined %}
summarize_wal = {{ psql_summarize_wal }}					# run WAL summarizer process?
wal_summary_keep_time = {{ psql_wal_summary_keep_time | default('10d') }}	# when to remove old summary files, 0 = never
{% endif %}

{% if psql_replication is defined %}
max_wal_senders = {{psql_max_wal_senders}}				# max number of walsender processes
max_replication_slots = {{psql_max_replication_slots}}			# max number of replication slots
{% if synchronized_standby_slots is defined %}
synchronized_standby_slots = '{{ synchronized_standby_slots }}'		# streaming replication standby server slot names
{% endif %}
{% endif %}

{% if psql_replication is defined %}
hot_standby = {{psql_hot_standby}}					# "off" disallows queries during recovery
hot_standby_feedback = {{psql_hot_standby_feedback}}			# send info from standby to prevent query conflicts
{% if sync_replication_slots is defined %}
sync_replication_slots = {{ sync_replication_slots }}			# enables slot synchronization on physical standby
{% endif %}
{% endif %}

random_page_cost = {{ psql_random_page_cost | default('4.0') }}			# same scale as above
effective_cache_size = {{ psql_effective_cache_size | default('4GB') }}

default_statistics_target = {{ psql_default_statistics_target | default('100') }}	# range 1-10000

log_checkpoints = {{ psql_log_checkpoints | default('on') }}
log_timezone = 'Etc/UTC'

datestyle = 'iso, mdy'
timezone = 'Etc/UTC'
lc_messages = 'en_US.utf8'					# locale for system error message strings
lc_monetary = 'en_US.utf8'					# locale for monetary formatting
lc_numeric = 'en_US.utf8'					# locale for number formatting
lc_time = 'en_US.utf8'						# locale for time formatting

default_text_search_config = 'psql_catalog.english'

{% if psql_shared_preload_libraries is defined %}
shared_preload_libraries = '{{ psql_shared_preload_libraries | join(",") }}'	# (change requires restart)
{% endif %}
password_encryption = {{ psql_password_encryption | default('scram-sha-256') }}
