listen_addresses = '{{psql_bind_addr}}'
max_connections = {{ pg_max_connections | default('100') }}			# (change requires restart)
reserved_connections = {{ pg_reserved_connections | default('0') }}		# (change requires restart)

{% if postgres_tls %}
ssl = on
{% endif %}
{% if postgres_tls and postgres_cert is defined %}
ssl_cert_file = '{{ postgres_cert }}'
{% endif %}
{% if postgres_tls and postgres_privkey is defined %}
ssl_key_file = '{{ postgres_privkey }}'
{% endif %}
scram_iterations = {{ pg_scram_iterations | default('4096') }}

shared_buffers = {{ pg_shared_buffers | default('128MB') }}			# min 128kB
work_mem = {{ pg_work_mem | default('4MB') }}				# min 64kB
hash_mem_multiplier = {{ pg_hash_mem_multiplier | default('2.0') }}		# 1-1000.0 multiplier on hash table work_mem
maintenance_work_mem = {{ pg_maintenance_work_mem | default('64MB') }}		# min 64kB
dynamic_shared_memory_type = posix					# the default is usually the first option
vacuum_buffer_usage_limit = {{ pg_vacuum_buffer_usage_limit | default('2MB') }}	# size of vacuum and analyze buffer access strategy ring

effective_io_concurrency = {{ pg_effective_io_concurrency | default('1') }}		# 1-1000; 0 disables prefetching
io_combine_limit = {{ pg_io_combine_limit | default('128kB') }}			# usually 1-32 blocks (depends on OS)
max_worker_processes = {{ pg_max_worker_processes | default('8') }}		# (change requires restart)
max_parallel_workers_per_gather = {{ pg_max_parallel_workers_per_gather | default('2') }}	# limited by max_parallel_workers
max_parallel_maintenance_workers = {{ pg_max_parallel_maintenance_workers | default('2') }}	# limited by max_parallel_workers
max_parallel_workers = {{ pg_max_parallel_workers | default('8') }}		# number of max_worker_processes that can be used in parallel

{% if psql_replication is defined %}
wal_level = {{wal_level}}
{% endif %}
wal_buffers = {{ pg_wal_buffers | default('-1') }}			# min 32kB, -1 sets based on shared_buffers
{% if pg_recovery_prefetch is defined %}
recovery_prefetch = {{ pg_recovery_prefetch }}				# prefetch pages referenced in the WAL?
wal_decode_buffer_size = {{ pg_wal_decode_buffer_size | default('512kB') }}	# lookahead window used for prefetching
{% endif %}

checkpoint_completion_target = {{ pg_checkpoint_completion_target | default('0.9') }}	# checkpoint target duration, 0.0 - 1.0
max_wal_size = {{ pg_max_wal_size | default('1GB') }}
min_wal_size = {{ pg_min_wal_size | default('80MB') }}
{% if pg_summarize_wal is defined %}
summarize_wal = {{ pg_summarize_wal }}					# run WAL summarizer process?
wal_summary_keep_time = {{ pg_wal_summary_keep_time | default('10d') }}	# when to remove old summary files, 0 = never
{% endif %}

{% if psql_replication is defined %}
max_wal_senders = {{max_wal_senders}}				# max number of walsender processes
max_replication_slots = {{max_replication_slots}}			# max number of replication slots
{% if synchronized_standby_slots is defined %}
synchronized_standby_slots = '{{ synchronized_standby_slots }}'		# streaming replication standby server slot names
{% endif %}
{% endif %}

{% if psql_replication is defined %}
hot_standby = {{hot_standby}}					# "off" disallows queries during recovery
hot_standby_feedback = {{hot_standby_feedback}}			# send info from standby to prevent query conflicts
{% if sync_replication_slots is defined %}
sync_replication_slots = {{ sync_replication_slots }}			# enables slot synchronization on physical standby
{% endif %}
{% endif %}

random_page_cost = {{ pg_random_page_cost | default('4.0') }}			# same scale as above
effective_cache_size = {{ pg_effective_cache_size | default('4GB') }}

default_statistics_target = {{ pg_default_statistics_target | default('100') }}	# range 1-10000

log_checkpoints = {{ pg_log_checkpoints | default('on') }}
log_timezone = 'Etc/UTC'

datestyle = 'iso, mdy'
timezone = 'Etc/UTC'
lc_messages = 'en_US.utf8'					# locale for system error message strings
lc_monetary = 'en_US.utf8'					# locale for monetary formatting
lc_numeric = 'en_US.utf8'					# locale for number formatting
lc_time = 'en_US.utf8'						# locale for time formatting

default_text_search_config = 'pg_catalog.english'

{% if pg_shared_preload_libraries is defined %}
shared_preload_libraries = '{{ pg_shared_preload_libraries | join(",") }}'	# (change requires restart)
{% endif %}
