services:
  blackbox:
    image: prom/blackbox-exporter:{{blackbox_exporter_version}}
    container_name: blackbox
    network_mode: host
{% if blackbox_exporter_restart is defined %}
    restart: always
{% endif %}
    volumes:
      - {{blackbox_exporter_config_data_path}}/blackbox.yml:{{blackbox_exporter_config_data_path}}/blackbox.yml
    command:
      --config.file={{blackbox_exporter_config_data_path}}/blackbox.yml
      --web.listen-address={{blackbox_exporter_bind_addr}}:9115
    logging:
        driver: json-file
        options:
            max-size:   '100m'
            max-file:   '2'