services:
  blackboxexporter:
    image: prom/blackbox-exporter:{{blackbox_exporter_version}}
    container_name: blackboxexporter
    network_mode: host
    restart: always
    volumes:
      - {{blackbox_exporter_config_data_path}}/blackbox.yml:{{blackbox_exporter_config_data_path}}/blackbox.yml
    command:
      --config.file={{blackbox_exporter_config_data_path}}/blackbox.yml
