[Unit]
Description=Prometheus ipsec_exporter
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=200
ExecStart = /usr/local/bin/ipsec_exporter \
{% if ansible_distribution == 'CentOS' %}
  --web.listen-address={{  ansible_default_ipv4.address }}:9004 \
{% endif %}
{% if ansible_distribution == 'Ubuntu' %}
  --web.listen-address={{ ansible_facts[second_interface_name].ipv4.address }}:9004 \
{% endif %}

[Install]
WantedBy=multi-user.target
