disable_cache = true
disable_mlock = true
ui = true
listener "tcp" {
   address          = "{{vault_bind_addr}}:8200"
{% if  vault_domain is defined %}
   tls_cert_file    = "{{ vault_conf_path }}/ssl/fullchain.pem"
   tls_key_file     = "{{ vault_conf_path }}/ssl/privkey.pem"
{% else %}
   tls_disable      = 1
{% endif %}

}
{% if  vault_storage_backend_file is defined %}
storage "file" {
   path  = "{{vault_data_path}}"
 }
 {% else %}
storage "raft" {
   path    = "/opt/vault/data"
   node_id = "node_{{ansible_hostname}}"
}
{% endif %}

cluster_name = "{{vault_cluster_name}}"
#cluster_addr = "https://{{ vault_cluster_addr }}:8201" # todo remove
cluster_addr = "https://{{ vault_cluster_addr }}"
api_addr         = "http://{{vault_bind_addr}}:8200"
max_lease_ttl         = "{{ vault_max_lease_ttl | default("3650d") }}"
default_lease_ttl    = "{{ vault_default_lease_ttl | default("10h") }}"
cluster_name         = "vault"
raw_storage_endpoint     = true
disable_sealwrap     = true
disable_printable_check = true