services:
  vault:
    image: hashicorp/vault:{{vault_image_version}}
    container_name: vault
    network_mode: host
    volumes:
      - {{vault_base_path}}:{{vault_base_path}}
    restart: {{ vault_restart | default('unless-stopped') }}
    cap_add:
      - IPC_LOCK
    command: vault server -config={{vault_conf_path}}/config.hcl


