sources:
{% if nginx_log_file_address is defined %}
  in_nginx_log_file:
    type: file
    include:
      - {{nginx_log_file_address}}
{% endif %}

{% if clickhouse_log_file_address is defined %}
  in_clickhouse_log_file:
    type: file
    include:
      - {{clickhouse_log_file_address}}
{% endif %}

sinks:
{% if nginx_log_file_address is defined %}
  out_nginx_to_elastic:
    type: elasticsearch
    inputs:
      - in_nginx_log_file
    endpoints:
      - {{protocol_elastic | default('http')}}://{{elasticsearch}}:{{elasticsearch_port| default('9200')}}
    mode: bulk
    bulk:
      index: "{{nginx_index_name| default('vector-%Y-%m-%d')}}"
    healthcheck: true
{% endif %}

{% if clickhouse_log_file_address is defined %}
  out_clickhouse_to_elastic:
    type: elasticsearch
    inputs:
      - in_clickhouse_log_file
    endpoints:
      - {{protocol_elastic | default('http')}}://{{elasticsearch}}:{{elasticsearch_port| default('9200')}}
    mode: bulk
    bulk:
      index: "{{clickhouse_index_name| default('vector-%Y-%m-%d')}}"
    healthcheck: true
{% endif %}
