[sources.test_nginx_logs_v2]
type = "file"
include = [ "/opt/nginx/logs/*" ]

[transforms.docker_logs_parce_v2]
inputs       = ["test_nginx_logs_v2"]
type         = "remap"
source       = ". = parse_json!(.message)"

[sinks.test_loki_out_v2]
type = "loki"
inputs = [ "docker_logs_parce_v2"]
encoding.codec = "json"
endpoint = "http://prom-253.qn-42.com:3100"
labels = {app="nginx", env="devops"}

