{{ ansible_managed | comment }}

[Unit]
Description=Vector
After=network-online.target
Requires=network-online.target
StartLimitInterval=0

[Service]
ExecStartPre={{ vector_binary_path }} validate -C {{ vector_conf_path }} 
ExecStart={{ vector_binary_path }} -C {{ vector_conf_path }}
ExecReload={{ vector_binary_path }} validate --no-environment -C {{ vector_conf_path }} 
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=1
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=-/etc/default/vector
StartLimitInterval=10
StartLimitBurst=5
StandardOutput=append:{{ vector_log_path }}/vector.log
StandardError=append:{{ vector_log_path }}/vector.log

[Install]
WantedBy=multi-user.target
