# {{ ansible_managed }}
# Set global options
data_dir = "{{ vector_data_path }}"

{% for v in  vector %}
[sources.{{v.name}}_in]
type = "file"
include = [ "{{v.log_path}}" ]

[transforms.{{v.name}}_extract_tag]
type = "remap"
inputs = ["{{v.name}}_in"]
source = '''
.app = string(.tag)  ?? "vector"
'''

[sinks.{{v.name}}_out]
inputs = ["{{v.name}}_extract_tag"]
type   = "{{v.type |default('loki')}}"
healthcheck = true
encoding.codec = "{{v.codec | default('json')}}"
endpoint = "{{v.endpoint | default('http://localhost:3100') }}"
labels ={ app="{{v.name}}",stand="{{stand_type| default('not_set') }}",hostname="{{ansible_hostname}}" }
{% endfor %}