data_dir = "{{ vector_data_dir | default('/var/lib/vector') }}"

# ------------ SOURCE SECTION ---------------

# ------------ TRANSFORM_SECTION ---------------

# ------------ SINK SECTION ---------------
