service {
  name  = "{{ consul_metrics_name | default('consul-metrics') }}"
  port  = {{ consul_metrics_bind_port | default('8501') }}
  tags  = [
    "prometheus",
{% if consul_metrics_tags is defined %}
{% for tag in consul_metrics_tags %}
        "{{ tag }}",
{% endfor %}
{% endif %}
  ]

  {% if consul_agent_disabled is not defined %}
    token = "{{ consul_metrics_token }}"
  {% endif %}

  check = {
    id       = "consul-metrics"
    name     = "consul-metrics healthcheck"
    tcp      = "{{ consul_metrics_bind_addr | default('') }}:{{ consul_metrics_bind_port | default('8501') }}"
    interval = "30s"
    timeout  = "2s"
  }
}
