apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
{% if k8s_calico_set_iface_autodetect is defined %}
    nodeAddressAutodetectionV4:
       interface: {{k8s_calico_set_iface_autodetect}}
{% endif %}
    ipPools:
    - blockSize: 26
      cidr: 10.48.0.0/21
      encapsulation: IPIP
      natOutgoing: Enabled
      nodeSelector: all()
{% if k8s_ipv6 is defined %}
    - blockSize: 122
      cidr: fd00:10:48::/64
      encapsulation: VXLAN
      natOutgoing: Enabled
      nodeSelector: all()
{% endif %}
  nodeUpdateStrategy:
    rollingUpdate:
      maxUnavailable: 1
  controlPlaneReplicas: 3
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: default-ipv4-ippool
spec:
  cidr: 10.48.0.0/21
  natOutgoing: true
  blockSize: 26
  nodeSelector: all()
  ipipMode: Always
  vxlanMode: Never
{% if k8s_ipv6 is defined %}
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: default-ipv6-ippool
spec:
  cidr: fd00:10:48::/64
  natOutgoing: true #need for support ping6 to internet
  blockSize: 122
  nodeSelector: all()
  ipipMode: Never
  vxlanMode: Always # support VXLAN for IPv6
{% endif %}