[Resolve]
DNS={{dns1}} {{dns2}}
FallbackDNS=1.2.3.4
{% if ansible_distribution == 'CentOS' %}
Domains=~example.com ~example.dev ~10.in-addr.arpa
{% endif %}
{% if ansible_distribution == 'Ubuntu' %}
Domains=example.com example.dev 10.in-addr.arpa
{% endif %}
Cache=no-negative
LLMNR=false