kind: github
version: v3
metadata:
  name: github
spec:
  api_endpoint_url: ""
  client_id: {{ teleport_github_client_id | default('set_me') }}
  client_secret: {{ teleport_github_client_secret_id | default('set_me') }}
  display: {{ teleport_github_display_name | default('GitHub') }}
  endpoint_url: ""
  redirect_url: https://{{ teleport_server }}/v1/webapi/github/callback
  teams_to_roles:
{% for role in teleport_roles %}
    - organization: {{ teleport_github_org }}
      team: {{ role.name }}
      roles:
        - {{ role.name }}
{% if role.k8s_access_role is defined and role.k8s_access_role %}
{% for k8s_role in role.k8s_access_role %}
        - {{ k8s_role }}
{% endfor %}
{% endif %}
{% endfor %}