services:
  nginx:
    image: nginx:{{nginx_version_docker}}
    container_name: nginx
    network_mode: host
{% if nginx_userns_host is defined %}
    userns_mode: host
{% endif %}
    volumes:
      - /etc/nginx/:/etc/nginx/
      - {{nginx_host_cert_ssl_path |default('/opt/ssl')}}:{{nginx_container_ssl_path}}
      - {{nginx_data_path}}/logs:/var/log/nginx/
{% if certbot_cert_usage is defined %}
      - {{certbot_path | default('/opt/certbot') }}/www:{{nginx_certbot_path | default('/var/www/certbot')}}
      - {{certbot_ssl_path |default('/opt/certbot/data')}}:{{nginx_container_ssl_certbot_path| default('/opt/certbot/ssl')}}
{% endif %}
{% if nginx_static_file is defined %}
      - {{nginx_static_path}}:/var/www/html:ro
{% endif %}
{% if nginx_restart is defined %}
    restart: always
{% endif %}
    logging:
{% if vector_server_fluent_address is defined %}
      driver: fluentd
      options:
        fluentd-address: {{vector_server_fluent_address | default('127.0.0.1')}}:{{ vector_server_fluent_port | default('24224') }}
        tag: nginx-docker
        fluentd-async: "{{fluent_async}}"
        fluentd-buffer-limit: "{{fluendt_buffer_limit}}"
{% else %}
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
{% endif %}
{% if nginx_docker_sysctls is defined and nginx_docker_network_mode is defined and nginx_docker_network_mode != "host" %}
    sysctls:
{% if nginx_docker_sysctls.net_core_somaxconn is defined %}
      net.core.somaxconn: {{ nginx_docker_sysctls.net_core_somaxconn }}
{% endif %}
{% endif %}
{% if nginx_docker_ulimits is defined %}
    ulimits:
{% if nginx_docker_ulimits.nproc is defined %}
      nproc: {{ nginx_docker_ulimits.nproc }}
{% endif %}
{% if nginx_docker_ulimits.nofile is defined %}
      nofile:
{% if nginx_docker_ulimits.nofile.soft is defined %}
        soft: {{ nginx_docker_ulimits.nofile.soft }}
{% endif %}
{% if nginx_docker_ulimits.nofile.hard is defined %}
        hard: {{ nginx_docker_ulimits.nofile.hard }}
{% endif %}
{% endif %}
{% endif %}
