---
- name: VAI - Ensure Helm is installed
  ansible.builtin.command: helm version
  register: helm_check
  failed_when: helm_check.rc != 0
  changed_when: false

- name: VAI - Check if vault-injector is already installed
  ansible.builtin.shell: |
    helm list -n {{ helm_vai_ns | default('vault-agent-injector') }} --kubeconfig {{ k8s_config_path }} | grep -w vault-agent-injector
  register: vai_installed
  failed_when: false
  changed_when: false

- name: VAI - Set fact whether to skip install
  ansible.builtin.set_fact:
    skip_vai_install: "{{ vai_installed.rc == 0 and (not vai_force_install | default(false)) }}"

- name: VAI - Add Helm repository
  ansible.builtin.command: helm repo add hashicorp https://helm.releases.hashicorp.com
  register: helm_vai_repo
  changed_when: '''"has been added"'' in helm_vai_repo.stdout'
  when: not skip_vai_install

- name: VAI - Update Helm repos
  ansible.builtin.command: helm repo update
  when: not skip_vai_install

- name: VAI - Create values config from template
  ansible.builtin.template:
    src: "vai-values.yaml.j2"
    dest: /tmp/vai-values.yaml
    mode: "0600"
  when: not skip_vai_install or vai_force_install is defined
  tags:
    - vai-value

- name: VAI - Install via Helm
  ansible.builtin.command: >
    helm upgrade --install vault hashicorp/vault
    --namespace {{ helm_vai_ns | default('vault-agent-injector') }}
    --version {{ helm_vai_version }}
    --kubeconfig {{ k8s_config_path }}
    --create-namespace
    --values /tmp/vai-values.yaml
  when: not skip_vai_install or vai_force_install is defined

- name: VAI - remove /tmp/vai-values.yaml
  ansible.builtin.file:
    path: /tmp/vai-values.yaml
    state: absent
