---
- ansible.builtin.import_tasks: 05-prefly.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  tags:
    - k8s
    - k8s-addition

- ansible.builtin.import_tasks: 20-longhorn.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'longhorn' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-longhorn

- ansible.builtin.import_tasks: 25-set-ingress-label-from-tf.yml
  delegate_to: "{{ k8s_master_init_host }}"
  when: k8s_ingress_nodes is defined and k8s_ingress_nodes | length > 0
  run_once: true
  tags:
    - k8s
    - k8s-addition
    - k8s-label
    - k8s-node-label
    - k8s-ingress-label

- ansible.builtin.import_tasks: 30-ingress-nginx.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'ingress-nginx' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-ingress
    - k8s-ingress-nginx


- ansible.builtin.import_tasks: 40-prom-stack.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'prometheus' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-prom-stack
    - k8s-prom

- ansible.builtin.import_tasks: 50-cert-manager.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'cert-manager' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-cert-manager

- ansible.builtin.import_tasks: 55-cert-manager-configure.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when:
    - "'cert-manager' in helm_componets_list"
    - k8s_cert_manager_condifured is defined
  tags:
    - k8s
    - k8s-addition
    - k8s-cert-manager
    - k8s-cert-manager-config

- ansible.builtin.import_tasks: 60-argocd.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'argocd' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-argocd

- ansible.builtin.import_tasks: 65-argocd-configure.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'argocd' in helm_componets_list and k8s_argocd_advanced_configured | default(false)"
  tags:
    - k8s
    - k8s-addition
    - k8s-argocd
    - k8s-argocd-configure

- ansible.builtin.import_tasks: 67-argocd-kong-acl.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when:
    - "'argocd' in helm_componets_list"
    - argocd_ingress_class is defined
    - argocd_ingress_class == 'kong'
    - argocd_kong_ingress_whitelist is defined
  tags:
    - k8s
    - k8s-addition
    - k8s-argocd
    - k8s-argocd-configure
    - k8s-argocd-kong

- ansible.builtin.import_tasks: 70-loki.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'loki' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-loki

- ansible.builtin.import_tasks: 75-vector.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'vector' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-vector

- ansible.builtin.import_tasks: 80-teleport-agent.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'teleport-agent' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-teleport

- ansible.builtin.import_tasks: 90-vault-secret-operator.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'vso' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-vso

- ansible.builtin.import_tasks: 100-vault-injector.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'vai' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-vai

- ansible.builtin.import_tasks: 110-cilium-hubble.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'hubble-ui' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-hubble

- ansible.builtin.import_tasks: 120-metrics-server.yml
  delegate_to: "{{ k8s_master_init_host }}"
  run_once: true
  when: "'metrics-server' in helm_componets_list"
  tags:
    - k8s
    - k8s-addition
    - k8s-ms
    - k8s-metrics-server

# todo for future use
# - ansible.builtin.import_tasks: 125-set-node-label.yml
#   delegate_to: "{{ k8s_master_init_host }}"
#   when: nodes_with_labels is defined and nodes_with_labels | length > 0
#   run_once: true
#   tags:
#     - k8s
#     - k8s-addition
#     - k8s-label
#     - k8s-node-label

# - ansible.builtin.import_tasks: 130-kong.yml
#   delegate_to: "{{ k8s_master_init_host }}"
#   run_once: true
#   when: "'kong' in helm_componets_list"
#   tags:
#     - k8s
#     - k8s-addition
#     - k8s-kong