datacenter = "{{consul_dc_name}}"
data_dir = "{{consul_base_path}}"
encrypt = "{{consul_encrypt_key}}"
retry_join = ["{{consul_cls_pub_name | default('consul.example.com') }}"]

bind_addr = "{{consul_bind_addr}}"
reconnect_timeout = "{{consul_reconnect_timeout}}"

performance {
  raft_multiplier = 1
}

{% if consul_dns_suffix_disable is not  defined %}
node_name = "{{ ansible_hostname }}.{{ consul_internal_domain | default('example.com')}}"
{% endif %}