## {{ ansible_managed }} ##

services:
  consul:
    image: hashicorp/consul:{{ consul_server_version }}
    container_name: consul
    hostname: "{{ ansible_fqdn }}{% if consul_internal_domain is defined %}.{{ consul_internal_domain }}{% endif %}"
{% if docker_daemon_json_userns_remap is defined and docker_daemon_json_userns_remap == "default" %}userns_mode: host{% endif %}
    network_mode: host
    volumes:
      - /etc/consul.d/:/consul/config
      - {{ consul_base_path }}/data:/consul/data
    command: [
      "agent", 
      "-client", "{{ consul_bind_addr | default('[::]') }}", 
      "-bind", "{{ consul_bind_addr | default('[::]') }}"
      {% if consul_privateip_perfer is defined %}, "-advertise", "{% raw %}{{ GetPrivateIP }}{% endraw %}"{% endif %}
    ]
    restart: {{ consul_restart | default('unless-stopped') }}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
