---
- name: Ensure unattended-upgrades config is disabled
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/20auto-upgrades
    regexp: '^APT::Periodic::Unattended-Upgrade'
    line: 'APT::Periodic::Unattended-Upgrade "0";'
    create: true

- name: Disable periodic updates check
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/20auto-upgrades
    regexp: '^APT::Periodic::Update-Package-Lists'
    line: 'APT::Periodic::Update-Package-Lists "0";'
    create: true

- name: Stop unattended-upgrades service
  ansible.builtin.systemd:
    name: unattended-upgrades
    state: stopped
    enabled: false
