PORT={{ tracker_api_port }}
DATABASE_URL={{ tracker_api_database_url }}
APNS_KEY_ID={{ tracker_api_apns_key_id }}
APNS_P8={{ tracker_api_apns_p8 | replace('\n', '\\n') }}
APNS_TEAM_ID={{ tracker_api_apns_team_id }}
RATE_HUB_API_KEY={{ tracker_api_rate_hub_api_key }}
{% for key, value in (tracker_api_env_extra | dictsort) %}
{{ key }}={{ value }}
{% endfor %}
{% if tracker_api_admin_token is defined %}
ADMIN_TOKEN={{ tracker_api_admin_token }}
{% endif %}
{% if tracker_api_notixy_api_url | length > 0 and tracker_api_notixy_send_key | length > 0 %}
NOTIXY_API_URL={{ tracker_api_notixy_api_url }}
NOTIXY_SEND_KEY={{ tracker_api_notixy_send_key }}
NOTIXY_SENDER_ID={{ tracker_api_notixy_sender_id }}
{% endif %}
{% if tracker_api_ankr_api_key | default('') | length > 0 %}
ANKR_API_KEY={{ tracker_api_ankr_api_key }}
{% endif %}
{% if tracker_api_helius_api_key | default('') | length > 0 %}
HELIUS_API_KEY={{ tracker_api_helius_api_key }}
{% endif %}