# Empty file, grafana not starting if grafana.ini not exists in /etc/grafana directory

instance_name = {{ gf_instance_name }}
app_mode = {{gf_app_mode}}

[server]
root_url = {{gf_server_root_url}}
domain = {{ gf_server_domain }}
http_addr = {{grafana_bind_addr | default('127.0.0.1')}}
http_port = {{grafana_srv_port | default('3000') }}
enforce_domain = False
cert_key = {{grafana_ssl_path}}/{{gen_key_name |default('privkey.pem')}}
cert_file = {{grafana_ssl_path}}/{{gen_cert_name | default('fullchain.pem') }}
protocol = {% if grafana_domain | default('') == "selfsign" %}https{% else %}{{ grafana_protocol | default('http') }}{% endif %}

#socket =
#enable_gzip = False

[live]
allowed_origins = "{{grafana_allowed_origins | default('*')}}"

[feature_toggles]
ssoSettingsApi = true

{% if grafana_auth_basic_disabled is defined %}
[auth.anonymous]
disable_login_form = true
{% endif %}

{% if grafana_oidc_github is defined %}
[auth.github]
enabled = true
client_id = "{{gf_auth_github_client_id}}"
client_secret = "{{gf_auth_github_client_secret}}"
scopes = user:email,read:org
auth_url = https://github.com/login/oauth/authorize
token_url = https://github.com/login/oauth/access_token
api_url = https://api.github.com/user
allow_sign_up = {{gf_auth_github_allow_sign_up | default('true')}}
auto_login = {{gf_auth_github_auto_login | default('false')}}
allowed_organizations = ["{{gf_auth_github_allowed_organizations}}"]
#oauth_skip_org_role_update_sync = true
{% if gf_auth_github_allow_skip_allow_domain is not  defined %}
allowed_domains = {{gf_auth_github_allowed_domains}}
{% endif %}
{% if gf_auth_github_all_admins is not defined %}
role_attribute_path = contains(groups[*], '@{{gf_auth_github_role_attribute_path}}') && 'Editor' || 'Viewer'
{% else %}
role_attribute_path = contains(groups[*], '@{{gf_auth_github_role_attribute_path}}') && 'Admin' || 'Editor'
{% endif %}
team_ids = {{gf_auth_github_team_ids}} # see README.md role
{% endif %}

{% if grafana_oidc_google is defined %}
[auth.google]
enabled = true
allow_sign_up = {{gf_auth_google_allow_sign_up | default('true')}}
auto_login = false
client_id = {{gf_auth_google_client_id }}
client_secret = {{gf_auth_google_client_secret}}
scopes = {{gf_auth_google_scopes | default('openid email profile')}}
auth_url = https://accounts.google.com/o/oauth2/v2/auth
token_url = https://oauth2.googleapis.com/token
api_url = https://openidconnect.googleapis.com/v1/userinfo
allowed_domains = {{gf_auth_google_allowed_domains  | default('example.com')}}
{% if gf_auth_google_hosted_domain is defined %}
hosted_domain = {{gf_auth_google_hosted_domain }}
{% endif %}
use_pkce = true
{% endif %}


{% if grafana_smtp is defined %}
[smtp]
enabled = true
host = {{ grafana_smtp_host | default('smtp.eu.mailgun.org:587')}}
user = {{ vault_dict_users_secret.grafana_smtp_user }}
password ={{ vault_dict_users_secret.grafana_smtp_password }}
from_address = {{ grafana_from_address | default('grafana@example.com') }}
{% endif %}
