# use LDAP for authentication first
auth_backends.1 = ldap
# fall back to the internal database
auth_backends.2 = internal
auth_ldap.servers.1 = {{ipa_server}}
auth_ldap.port      = {{ipa_port}}
# 15 seconds in milliseconds
auth_ldap.timeout   = 15000
auth_ldap.connection_pool_size = 256

auth_ldap.use_ssl    = true
auth_ldap.log        = true

auth_ldap.dn_lookup_bind.user_dn = uid={{ipa_user_bind}},cn=sysaccounts,cn=etc,dc=example,dc=com
auth_ldap.dn_lookup_bind.password = {{vault_dict_users_secret[ipa_user_bind]}}
auth_ldap.dn_lookup_attribute = distinguishedName
auth_ldap.dn_lookup_base = cn=g_rabbitmq_admins,cn=groups,cn=accounts,dc=example,dc=com
auth_ldap.user_dn_pattern = uid=${username},cn=users,cn=accounts,dc=example,dc=com
auth_ldap.group_lookup_base = ou=g_rabbitmq_admins,dc=example,dc=com

