## {{ ansible_managed }} ##
version: v3
teleport:
  nodename: {{teleport_node_name}}
  data_dir: /var/lib/teleport
  join_params:
    token_name: "{{teleport_join_token}}"
    method: token
  proxy_server: {{teleport_proxy_host}}
  log:
    output: stderr
    severity: INFO
    format:
      output: text
#  ca_pin: {{teleport_ca_pin | default('set_me')}}
  diag_addr: ""
auth_service:
  enabled: "no"
ssh_service:
  enabled: "{% if teleport.ssh_acl_level is defined %}{{teleport_ssh_service_enabled | default('yes')}}{% else %}no{% endif %}"
  labels:
    stand: {{stand_type| default('not_set')}}
    cluster: {{teleport_cluster_name | default('cls1')}}
    company: {{company_code| default('not_set')}}
{% if teleport.ssh_acl_level is defined %}
{% for level in teleport.ssh_acl_level %}
    ssh_acl_level{{ level }}: {{ level }}
{% endfor %}
{% else %}
    ssh_acl_level: 900
{% endif %}
#    teleport.internal/resource-id: "resource-id" # todo debug
  commands:
  - name: hostname
    command: [hostname]
    period: 1m0s
proxy_service:
  enabled: "no"
  https_keypairs: []
  https_keypairs_reload_interval: 0s
  acme: {}
{% if teleport.app is defined %}
app_service:
    enabled: yes
    debug_app: false
    apps:
{% for app in teleport.app %}
    - name: "{{app.name}}"
      uri: "{{app.uri}}"
      public_addr: "{{app.public_addr}}"
      insecure_skip_verify: {{app.insecure_skip_verify |default('false')}}
{% if app.grafana_config is defined %}
      rewrite:
        headers:
        - "Host: {{ app.public_addr }}"
        - "Origin: https://{{ app.public_addr }}"
        - "Access-Control-Allow-Origin: *"
        - "Access-Control-Allow-Methods: GET, OPTIONS, POST"
        - "Access-Control-Allow-Headers: Authorization, Content-Type"
{% endif %}
{% if app.gitlab_config is defined %}
      rewrite:
        redirect:
        - "{{ app.public_addr }}"
{% endif %}
      labels:
        stand: "{{stand_type| default ('not_set') }}"
        cluster: "{{teleport_cluster_name | default('cls1')}}"
        company: "{{app.company_code| default(company_code)}}"
        env: "{{app.stand_type | default (stand_type)}}"
{% for level in app.app_acl_level %}
        app_acl_level{{ level }}: {{ level }}
{% endfor %}
{% endfor %}
{% endif %}
{% if teleport.databases is defined %}
db_service:
  enabled: yes
  resources:
    - labels:
        "*": "*"
  databases:
{% for db in teleport.databases %}
    - name: "{{ db.name }}"
      description: "{{ db.description | default(db.name)}}"
      protocol: "{{ db.protocol }}"
      uri: "{{ db.uri }}"
      tls:
        mode: "{{ db.tls_mode }}"
{% endfor %}
{% endif %}
