---
- name: install ufw
  ansible.builtin.apt:
    name:
      - ufw
    state: latest
    update_cache: true
    cache_valid_time: 3600

- name: allow temporary ssh access
  community.general.ufw:
    rule: "allow"
    proto: tcp
    src: "{{ item }}"
    port: "22"
    comment: "temporary ssh access - will be removed later"
  with_items:
    - "0.0.0.0/0"
    - "::/0"

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Pause 5 seconds for ufw running
  ansible.builtin.pause:
    seconds: 5

- name: Allow SSH from default ranges
  community.general.ufw:
    rule: "allow"
    proto: tcp
    port: "22"
    src: "{{ item }}"
    comment: "temporary ssh access - will be removed later"
  loop: "{{ ufw_ssh_allowlist | default(['0.0.0.0/0', '::/0']) }}"
  when: iptables.ipv4 is not defined
