## {{ ansible_managed }} ##

LogType=console

HostMetadata={% for zbx in  zabbix.apply_tag %}{{zbx}} {% endfor %} owner-devops

{% if zbx_agent_hostname is defined %}
Hostname={{zbx_agent_hostname}}
{% else %}
HostnameItem=system.hostname
{% endif %}

Server=127.0.0.1{% if zbx_kostili is defined %},{{zbx_kostili}} {% endif %}

ServerActive=127.0.0.1:10051{% if zbx_kostili is defined %},{{zbx_kostili}} {% endif %}

Timeout=30
Include=/etc/zabbix/zabbix_agentd.d/*.conf
LoadModulePath=/var/lib/zabbix/modules/
