apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    meta.helm.sh/release-name: argocd
    meta.helm.sh/release-namespace: argocd
  name: argocd-rbac-cm
  namespace: argocd
data:
{% set _has_admins = argocd_policy_csv_admins is defined and argocd_policy_csv_admins | length > 0 %}
{% set _has_readonly = argocd_policy_csv_readonly is defined and argocd_policy_csv_readonly | length > 0 %}
{% if _has_admins or _has_readonly %}
  policy.csv: |
{% for user in argocd_policy_csv_admins | default([]) %}
{% if user | length > 0 %}
    g, {{ user }}, role:admin
{% endif %}
{% endfor %}
{% for user in argocd_policy_csv_readonly | default([]) %}
{% if user | length > 0 %}
    g, {{ user }}, role:readonly
{% endif %}
{% endfor %}
{% else %}
  policy.csv: ""
{% endif %}
  policy.default: ""
  policy.matchMode: glob
  scopes: '[groups,email]'
