apiVersion: v1
kind: Secret
metadata:
  name: repo-{{ item.name }}
  namespace: {{ helm_argocd_namespace | default('argocd') }}
  labels:
    argocd.argoproj.io/secret-type: repository
  annotations:
    managed-by: ansible
    argocd.argoproj.io/refresh: hard

type: Opaque
stringData:
  type: {{ item.type }}
  url: {{ item.url }}
{% if item.name is defined %}
  name: {{ item.name }}
{% endif %}
{% if item.insecure | default(false) | bool %}
  insecure: "{{ 'true' }}"
{% endif %}
{% if item.sshPrivateKey is defined %}
  sshPrivateKey: |
{{ item.sshPrivateKey | indent(4, True) }}
{% endif %}
{% if item.username is defined %}
  username: {{ item.username }}
{% endif %}
{% if item.password is defined %}
  password: {{ item.password }}
{% endif %}
