apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-oci-cred
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: dockerhub-oci-cred
  type: helm
  url: registry-1.docker.io
  enableOCI: "true"
  username: "{{ argocd_dockerhub_oci_name }}"
  password: "{{ argocd_dockerhub_oci_pass }}"
