apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  url: https://{{ argocd_domain | default('argocd.example.com') }}
  admin.enabled: "true"
{% if argocd_exec_enabled | default(false) %}
  exec.enabled: "true"
{% endif %}
{% if argocd_accounts is defined %}
{% for acc in argocd_accounts %}
  accounts.{{ acc.name }}: {{ acc.permissions }}
{% endfor %}
{% endif %}
{% if argocd_exclude_cilium_identity is defined%}
  resource.exclusions: |
    - apiGroups:
      - cilium.io
      kinds:
      - CiliumIdentity
      clusters:
      - "*"
{% endif %}
{% if argocd_cst_ignore_ingress | default(false) %}
  resource.customizations: |
    networking.k8s.io/Ingress:
      health.lua: |
        hs = {}
        hs.status = "Healthy"
        return hs
{% endif %}
  dex.config: |
    connectors:
{% if argocd_github_enabled is defined%}
      - type: github
        id: github
        name: GitHub
        config:
          clientID: {{argocd_github_client_id}}
          clientSecret: {{argocd_github_secret_id}}
          orgs:
            - name: "{{argocd_github_org | default('main-org')}}"
          teams:
            - "{{ argocd_github_team | default('example-team') }}"
          scopes:
            - "read:org"
            - "user:email"
          loadAllGroups: true
{% endif %}
{% if argocd_google_enabled is defined%}
      - type: oidc
        config:
          issuer: https://accounts.google.com
          clientID: {{ argocd_google_clientid | default('set-me') }}
          clientSecret: {{ argocd_google_secret | default('set-me') }}
          staticGroups:
          - developers
          - default
          userNameKey: email
        id: google
        name: Google
{% endif %}
