{% for item in argocd_git_repos %}
---
apiVersion: v1
kind: Secret
metadata:
  name: repo-{{ item.name }}
  namespace: {{ helm_argocd_namespace | default('argocd') }}
  labels:
    argocd.argoproj.io/secret-type: repository
  annotations:
    managed-by: ansible
    argocd.argoproj.io/refresh: {{ helm_argocd_refresh | default('normal') }}
type: Opaque
stringData:
  name: {{ item.name }}
  type: git
  url: {{ item.url }}
  sshPrivateKey: |
{{ item.sshPrivateKey | indent(4, True) }}
{% endfor %}