apiVersion: v1
kind: Secret
metadata:
  name: cluster-{{ cluster_name }}
  namespace: {{ helm_argocd_namespace | default('argocd') }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: {{ cluster_name }}
  server: {{ cluster_api }}
  config: |
    {
      "bearerToken": "{{ cluster_token }}",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "{{ cluster_ca }}"
      }
    }