crds:
  enabled: true

# not enable podmonitorin 
# Note that you cannot enable both PodMonitor and ServiceMonitor as they are mutually exclusive. Enabling both will result in an error.
prometheus:
  enabled: true
  servicemonitor:
    enabled: true
    labels:
      release: prometheus    