---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
type: Opaque
stringData:
  api-token: "{{k8s_cert_manager_cloudflare_token}}"
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ cert_manager_cf_name | default('cloudflare-issuer-dns-challenge') }}
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{k8s_cert_manager_cf_email | default('noreply@example.com')}}
    privateKeySecretRef:
      name: cloudflare-dns-key
    solvers:
      - dns01:
          cloudflare:
            email: {{k8s_cert_manager_cf_email | default('noreply@example.com')}}
            apiTokenSecretRef:
              name: cloudflare-api-token-secret
              key: api-token

