defaultSettings:
  replicaCount: {{ k8s_longhorn_default_settings_replica_count | default('2') }}
  storageOverProvisioningPercentage: 100
  storageMinimalAvailablePercentage: 15
  nodeDownPodDeletionPolicy: "delete-both-statefulset-and-deployment-pod"
  replicaAutoBalance: "disabled" # kafka failed 
  dataLocality: "best-effort"
  rebalanceDisksWhenLowSpace: false # not foun value chart

# # failed https://github.com/longhorn/longhorn/issues/6415
# # https://github.com/longhorn/longhorn/issues/6623
# preUpgradeChecker:
#   jobEnabled: false

