dnsConfig:
  nameservers:
    - 1.1.1.1
    - 8.8.8.8
  searches:
{% for domain in dns_resolved_domains %}
    - {{ domain }}
{% endfor %}

args:
  - --kubelet-insecure-tls
  - --kubelet-preferred-address-types=Hostname,InternalDNS,InternalIP,ExternalDNS,ExternalIP
