{% for item in k8s_prom_remote_write %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ item.remote_write.secret_name }}
  namespace: monitoring
data:
  username: {{ item.remote_write.k8s_secret_username| b64encode | default('set_me') }}
  password: {{ item.remote_write.k8s_secret_pass | b64encode  | default('set_me')}}
type: Opaque
{% endfor %}
