---
apiVersion: v1
kind: Secret
metadata:
  name: vector-mtls
  namespace: {{ helm_vector_namespace | default('vector') }}
type: Opaque
data:
  client.crt: {{ vault_dict_users_secret_g2[vector_mtls_secret_name | default('mtls_base100')].mtls_cert | b64encode }}
  client.key: {{ vault_dict_users_secret_g2[vector_mtls_secret_name | default('mtls_base100')].mtls_key | b64encode }}
  cacert: {{ vault_dict_users_secret_g2[vector_mtls_secret_name | default('mtls_base100')].mtls_ca | b64encode }}
