---
defaultVaultConnection:
  enabled: true
  address: "{{ vault_server_address | default('https://vault.example.com')}}"

defaultAuthMethod:
  enabled: true
  namespace: "vault-secrets-operator"
  allowedNamespaces: []
  method: kubernetes
  mount: {{ k8s_vso_mount | default('kubernetes') }}
  skipTLSVerify: false
  kubernetes:
    role: "{{ k8s_vso_role | default('vso-default') }}"
    serviceAccount: vault-secrets-operator-controller-manager

controller:
  manager:
    logLevel: "{{vault_controller_manager_log_level | default('info')}}"
    metricsAddr: ":8080"
    enableLeaderElection: true