{{ ansible_managed | comment }}

services:
  loki:
    image: grafana/loki:{{ loki_version }}
    container_name: loki
    hostname: {{ansible_facts['fqdn']}}
    network_mode: host
    command: -config.file=/etc/loki/config.yaml
    volumes:
      - {{ loki_data_path }}/data:/opt/loki
      - {{ loki_data_path }}/config:/etc/loki/
      - {{ loki_data_path }}/rules:/opt/loki/rules
{% if loki_ssl is defined %}
      - {{ loki_data_path }}/ssl:/opt/loki/ssl
{% endif %}
    restart: {{ loki_restart | default('always') }}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'