## {{ ansible_managed }} ##

services:
  vm:
    image: "victoriametrics/victoria-metrics:{{ vm_image }}"
    container_name: vm
    hostname: {{ansible_hostname}}
    network_mode: host
    volumes:
      - {{ vm_db_dir }}:{{ vm_db_dir }}:rw
      - {{ vm_config_path }}:{{ vm_config_path }}:ro
    command:
      - "--storageDataPath={{ vm_db_dir }}"
      - "--enableTCP6"
      - "--httpListenAddr={{ vm_http_listern_addr |default('') }}:8428"
      - "--retentionPeriod={{vm_metrics_retention}}"
      - "--dedup.minScrapeInterval=15s"
      - "--search.maxUniqueTimeseries={{vm_search_max_unique_timeseries}}"
      - "--search.maxQueryDuration=30s"
      - "--promscrape.config={{ vm_config_path }}/scrape.yaml"
      - "--vmalert.proxyURL={{vm_proxy_url}}"
{% for flag in vm_extra_args %}
      - "{{ flag }}"
{% endfor %}
    restart: {{ vm_restart | default('unless-stopped') }}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
{% if vm_remote_write_v2 is defined %}
  vmagent:
    image: "victoriametrics/vmagent:{{ vm_image }}"
    container_name: vmagent
    network_mode: host
    volumes:
      - {{ vmagent_config_path }}:/etc/vmagent
    command:
      - "--promscrape.config=/etc/vmagent/scrape.yaml"
      - "--remoteWrite.showURL=true"
{% for write in vm_remote_write_v2.writes %}
      - "--remoteWrite.url={{ write.uri }}"
      - "--remoteWrite.maxBlockSize={{ write.max_block_size | default('20480')}}"
      - "--remoteWrite.flushInterval={{ write.flush_interval | default('60s')}}"
      - "--remoteWrite.label=gen=gen2"
      - "--remoteWrite.label=stand={{ stand_type }}"
{% if write.basic_auth_username is defined and write.basic_auth_pass is defined %}
      - "--remoteWrite.basicAuth.username={{ write.basic_auth_username | default('set_me')}}"
      - "--remoteWrite.basicAuth.password={{ write.basic_auth_pass | default('set_me') }}"
{% endif %}
{% endfor %}
    restart: {{ vmagent_restart | default('unless-stopped') }}
{% endif %}    