#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# Great examples of alerts - https://awesome-prometheus-alerts.grep.to/rules.html
# http://vm.io/docs/operating/configuration/

global:
  {{ vm_global | to_nice_yaml(indent=2) | indent(2, False) }}
  external_labels:
    {{ vm_external_labels | to_nice_yaml(indent=2) | indent(4, False) }}

{% if vm_alertmanager_config | length > 0 %}
alerting:
  alertmanagers:
  {{ vm_alertmanager_config | to_nice_yaml(indent=2) | indent(2,False) }}
  {% if vm_alert_relabel_configs | length > 0 %}
  alert_relabel_configs:
  {{ vm_alert_relabel_configs | to_nice_yaml(indent=2) | indent(2,False) }}
  {% endif %}
{% endif %}

scrape_configs:
  {{ vm_scrape_configs | to_nice_yaml(indent=2) | indent(2,False) }}
{% if scrape_discovery is defined %}
{% for target in scrape_discovery.target %}
  - consul_sd_configs:
    - server: {{ consul_sd_server | default ('127.0.0.1:8500') }}
{% if consul_agent_disabled is not defined %}
      token: {{ consul_vm_access_token }}
{% endif %}
      datacenter: {{ consul_dc_name | default('dc_set_me') }}
{% if target.services is defined %}
      services:
      - {{ target.services }}
{% endif %}
{% if target.tags is defined %}
      tags:
{% for tag in target.tags %}
      - {{ tag }}
{% endfor %}
{% endif %}
    job_name: {{ target.job_name }}
{% if target.scrape_interval is defined %}
    scrape_interval: {{ target.scrape_interval }}
{% endif %}
    metrics_path: "{{ target.metrics_path | default ('/metrics') }}"
{% if target.job_name != 'consul_clickhouse_metrics' %}
    params:
      format: ['{{ target.format | default ('prometheus') }}']
{% endif %}
{% if target.scheme is defined %}
    scheme: {{ target.scheme }}
    tls_config:
      insecure_skip_verify: {{ target.insecure_skip_verify }}
{% endif %}
    relabel_configs:
    - action: keep
      regex: .*,prometheus,.*
      source_labels:
      - __meta_consul_tags
    - source_labels:
      - __meta_consul_service
      target_label: job
    - action: replace
      replacement: $1$2
      separator: ':'
      source_labels:
      - __meta_consul_node
      - __meta_consul_service_port
      target_label: instance
    - action: replace
      replacement: $1$2
      separator: ':'
      source_labels:
      - __meta_consul_node
      - __meta_consul_service_port
      target_label: __address__
    - regex:  "{{ stands_regexp | default('example-stand') }}"
      replacement: $1
      source_labels:
      - __meta_consul_tags
      target_label: stand
    metric_relabel_configs:
    # 1. Relabel pod name - remove ReplicaSet/StatefulSet hash suffix
    # Transforms: pod-name-12345678-xxxxx → pod-name
    - source_labels: [pod]
      regex: "^([a-z0-9][a-z0-9\\-]*[a-z0-9])-[a-z0-9]{8,10}-[a-z0-9]{5}$"
      target_label: pod
      replacement: "${1}"
    - source_labels: [pod]
      regex: "^([a-z0-9][a-z0-9\\-]*[a-z0-9])-[a-z0-9]{8}$"
      target_label: pod
      replacement: "${1}"
    
    # 2. Relabel container name - remove hash suffix
    - source_labels: [container]
      regex: "^([a-z0-9][a-z0-9\\-]*[a-z0-9])-[a-z0-9]{8,10}$"
      target_label: container
      replacement: "${1}"
    
    # 3. Image cleanup - remove digest/hash, keep only name:tag
    - source_labels: [image]
      regex: "^(.+)@sha256:[a-f0-9]{64}$"
      target_label: image
      replacement: "${1}"
    - source_labels: [image]
      regex: "^[^/]+/([^:]+):(.+)$"
      target_label: image
      replacement: "${1}:${2}"
    
    # 4. Drop high-cardinality Kubernetes technical labels
    - regex: "^(id|uid|pod_uid|container_id|endpoint|controller_revision_hash|pod_template_hash|statefulset_kubernetes_io_pod_name)$"
      action: labeldrop
    
    # 5. Drop low-value device/filesystem labels
    - regex: "^(name|device|major|minor|mountpoint)$"
      action: labeldrop
    
    # 6. Aggregate network interface metrics - keep only interface type
    - source_labels: [interface]
      regex: "^(eth|ens|enp|wlan|wlp|lo|docker|veth|cni)[0-9a-z@]*$"
      target_label: interface_type
      replacement: "${1}"
    - source_labels: [__name__, interface_type]
      regex: "^(node_network_.*);(.+)$"
      action: labeldrop
      target_label: interface
{% endfor %}
{% endif %}
