{
  "iptables":{{docker_iptables_management| default('true')}},
  "mtu":{{docker_daemon_mtu| default(1500)}}{% if docker_daemon_ipv6 is defined %},
  "ipv6":{{ docker_daemon_ipv6 | to_json }}{% endif %}

}