services:
  rate-api:
    image: {{ rate_hub_api_image }}:{{ rate_hub_api_version }}
    container_name: rate-api
    network_mode: host
    env_file:
      - rate-api.remote.env
    restart: "{{ rate_hub_restart | default('always') }}"
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'

  rate-collector:
    image: {{ rate_hub_collector_image }}:{{ rate_hub_collector_version }}
    container_name: rate-collector
    network_mode: host
    env_file:
      - rate-collector.remote.env
    restart: "{{ rate_hub_restart | default('always') }}"
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
