HTTP_ADDR={{ rate_hub_api_http_addr | default('127.0.0.1:8080') }}
VALKEY_ADDR={{ rate_hub_valkey_addr | default('localhost:6379') }}

# LOG_LEVEL=info
# HTTP_READ_HEADER_TIMEOUT=5s
# HTTP_READ_TIMEOUT=10s
# HTTP_WRITE_TIMEOUT=10s
# HTTP_IDLE_TIMEOUT=60s
# SHUTDOWN_TIMEOUT=15s
# VALKEY_USERNAME=
# VALKEY_PASSWORD=
# VALKEY_DIAL_TIMEOUT=2s
# VALKEY_PING_INTERVAL=2s
{% if rate_hub_api_keys | default('') | length > 0 %}
API_KEYS={{ rate_hub_api_keys }}
{% endif %}
{% if rate_hub_database_url | default('') | length > 0 %}
DATABASE_URL={{ rate_hub_database_url }}
{% endif %}
# RATE_LIMIT_IP=1000
# RATE_LIMIT_KEY=1000
# RATE_LIMIT_WINDOW=5m
# TRUSTED_PROXIES=127.0.0.1/32,::1/128
