[Unit]
Description="Like Prometheus, but for logs"
Documentation=https://github.com/grafana/loki/tree/master/docs
Requires=network-online.target
After=network-online.target

[Service]
Type=simple

User={{app_run_user}}
Group={{app_run_user}}
ExecStart={{bin_path}}/loki -config.file {{loki_config_path}}/config.yaml
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target