network:
  version: 2
  renderer: networkd
  ethernets:
    {{second_interface_name}}:
      dhcp4: yes
{% if '10.1' in ansible_facts[second_interface_name].ipv4.address and dc_location == 'fsn' %}
      routes:
       - to: 10.1.0.0/16
         via: 10.1.0.1
{% endif %}
