{% if local_dns is defined %}
{% if local_dns == 'dnsmasq' %}
nameserver 127.0.0.1
{% endif %}
{% if local_dns == 'systemd-resolved' %}
nameserver 127.0.0.53
{% endif %}
{% else %}
nameserver {{dns1}}
nameserver {{dns2}}
{% endif %}

search {{ searchdomain }}
