[Unit]
Description=Prometheus
Documentation=https://github.com/danielqsj/kafka_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{prom_user}}
Group={{prom_user}}
ExecStart=/usr/local/bin/kafka_exporter --kafka.server={{kafka_targer_srv}}:{{kafka_targer_port}}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID

SyslogIdentifier=kafka_exporter

Restart=on-failure
RestartSec=300s

[Install]
WantedBy=multi-user.target