---
- ansible.builtin.import_tasks: 05-clean.yml
  tags: ['never', 'consul-clean', 'consul-delete']

- ansible.builtin.import_tasks: 10-create-user.yml
  tags:
    - consul

- ansible.builtin.import_tasks: 15-pre-required.yml
  tags:
    - consul
    - consul-update
    - consul-download

- ansible.builtin.import_tasks: 20-path.yml
  tags:
    - consul
    - consul-config


- ansible.builtin.import_tasks: 35-mtls-certs-agent.yml
  tags:
    - consul
    - consul-mtls
    - consul-agent-cert

- ansible.builtin.import_tasks: 40-configure-all.yml
  tags:
    - consul
    - consul-config

# - ansible.builtin.include_role:
#     name: consul-docker-install
#     tasks_from: 10-configure-all
#   tags:
#     - consul-config
#     - consul
#     - consul-import

- ansible.builtin.import_tasks: 50-consul-unit.yml
  tags:
    - consul-reconfigure
    - consul-acl
    - consul

- ansible.builtin.import_tasks: 90-consul-restart.yml
  tags: ['never', 'consul-unit-restart', 'consul-restart']
