[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionDirectoryNotEmpty={{consul_config_dir}}

[Service]
Type=notify
User=consul
Group=consul
ExecStart={{ consul_binary_dir }}/{{consul_binary_name}} agent -config-dir={{consul_config_dir}}
ExecReload={{ consul_binary_dir }}/{{consul_binary_name}} reload
ExecStop={{ consul_binary_dir }}/{{consul_binary_name}} leave
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target