---
- ansible.builtin.import_tasks: 05-prefly.yml
  tags:
    - gitlab-runner
    - runner


- ansible.builtin.import_tasks: 30-configure.yml
  tags:
    - gitlab-runner
    - runner
    - runner-config
    - runner-compose

- ansible.builtin.import_tasks: 99-clean.yml
  tags: ['never', 'runner-clean']
