upstream {{ item.name }} {
{% if item.upstream_mode is defined %}
{{item.upstream_mode}};
{% endif %}
{% for included in upstream_multi.upstream %}
{% if item.name == included.name %}
        server {{included.server}}:{{included.port}} weight={{included.weight|default("5") }} fail_timeout={{included.fail_timeout|default("3")}}s max_fails={{included.max_fails|default("0") }};
{% endif %}
{% endfor %}
}