---
- ansible.builtin.import_tasks: 05-prefly.yml
  tags:
    - angie
    - angie-prefly

- ansible.builtin.import_tasks: 20-base-configure.yml
  tags:
    - angie
    - angie-config

- ansible.builtin.import_tasks: 25-ssl-configure.yml
  tags:
    - angie
    - angie-selfsign
    - nginx-selfsign
    - angie-ssl

- ansible.builtin.import_tasks: 33-mtls-cert.yml
  # when: angie_skip_mtls is not defined or not angie_skip_mtls
  when: angie_mtls_support is  defined
  tags:
    - angie
    - angie-mtls
    - nginx-mtls

- ansible.builtin.import_tasks: 35-compose.yml
  tags:
    - angie
    - angie-compose

- ansible.builtin.import_tasks: 40-upstreams-acl.yml
  tags:
    - angie
    - angie-upstreams
    - angie-acl
    - upstreams
    - acl
    - vhosts
    - angie-vhosts

- ansible.builtin.import_tasks: 43-http-base.yml
  when: angie_support_http_auth is defined and angie_support_http_auth is true
  tags:
    - angie
    - angie-htpasswd
    - angie-config


- ansible.builtin.import_tasks: 45-vhosts-configure.yml
  tags:
    - angie
    - angie-vhosts
    - angie-acl
    - acl
    - vhosts
    - angie-vhosts

- ansible.builtin.import_tasks: 50-streams-configure.yml
  tags:
    - angie
    - angie-streams
    - streams
    - angie-acl
    - acl

- ansible.builtin.import_tasks: 55-configs-check.yml
  tags:
    - angie
    - angie-vhosts
    - angie-streams
    - angie-upstreams
    - angie-acl
    - angie-check
    - vhosts
    - streams
    - upstreams
    - acl

- ansible.builtin.import_tasks: 90-ssl-clean.yml
  tags: ['never', 'ssl-clean']

- ansible.builtin.import_tasks: 99-clean.yml
  tags: ['never', 'angie-clean']
