telegram_token: "you token bot"
template_path: "template.tmpl" # your template file name
time_zone: "UTC" # your time zone check it out from WIKI
split_token: "|" # token used for split measure label.