version:    '3.7'

networks:
    grafana:
        name: grafana
        driver: bridge
        attachable: true

services:
    grafana:
        image:  {{ grafana_image }}:{{ grafana_version }}
        restart:    unless-stopped
        container_name: grafana
        networks:
            -   grafana
        ports:
            -   "{{ grafana_bind_addr }}:{{ grafana_bind_port }}:{{ grafana_bind_port }}"
        volumes:
            -   "{{ grafana_data_path }}/etc:/etc/grafana"
            -   "{{ grafana_data_path }}/etc/provisioning/dashboards:/etc/grafana/provisioning/dashboards"
            -   "{{ grafana_data_path }}/etc/provisioning/datasources:/etc/grafana/provisioning/datasources"
            -   "{{ grafana_data_path }}/etc/provisioning/plugins:/etc/grafana/provisioning/plugins"
            -   "{{ grafana_data_path }}/etc/provisioning/notifiers:/etc/grafana/provisioning/notifiers"
            -   "{{ grafana_data_path }}/data:/var/lib/grafana"
{% if gf_ldap_toml_servers_root_ca_cert is defined %}
            -   "{{ grafana_ipa_ca }}:{{ gf_ldap_toml_servers_root_ca_cert }}"
{% endif %}
        logging:
            driver: json-file
            options:
                max-size:   '100m'
                max-file:   '2'
        environment:
            GF_APP_MODE:    '{{ gf_app_mode }}'
            GF_INSTANCE_NAME:   '{{ gf_instance_name }}'
            GF_SERVER_ROOT_URL: '{{ gf_server_root_url }}'
{% if gf_auth_google_enabled is defined %}
            GF_AUTH_GOOGLE_ENABLED: '{{ gf_auth_google_enabled }}'
            GF_AUTH_GOOGLE_CLIENT_ID:   '{{ gf_auth_google_client_id }}'
            GF_AUTH_GOOGLE_CLIENT_SECRET:   '{{ gf_auth_google_client_secret }}'
            GF_AUTH_GOOGLE_SCOPES:  '{{ gf_auth_google_scopes }}'
            GF_AUTH_GOOGLE_AUTH_URL:    '{{ gf_auth_google_auth_url }}'
            GF_AUTH_GOOGLE_TOKEN_URL:   '{{ gf_auth_google_token_url }}'
            GF_AUTH_GOOGLE_ALLOWED_DOMAINS: '{{ gf_auth_google_allowed_domains }}'
            GF_AUTH_GOOGLE_ALLOW_SIGN_UP:   '{{ gf_auth_google_allow_sign_up }}'
{% endif %}
{% if gf_auth_ldap_enabled is defined %}
            GF_AUTH_LDAP_ENABLED:   '{{ gf_auth_ldap_enabled }}'
            GF_AUTH_LDAP_CONFIG_FILE:   '{{ gf_auth_ldap_config_file }}'
            GF_AUTH_LDAP_ALLOW_SIGN_UP: '{{ gf_auth_ldap_allow_sign_up }}'
{% endif %}
