services:
- name: socks5
  addr: ":18092"
  handler:
    type: socks5
    auth:
      username: user
      password: {{socks5_user_pass | default('set_me')}}
  listener:
    type: tcp
- name: http3
  addr: ":18093"
  handler:
    type: auto
    auth:
      username: user
      password: {{http3_user_pass | default('set_me')}}
  listener:
    type: h3
    metadata:
      authorizePath: /authorize
      pullPath: /pull
      pushPath: /push
- name: relay-dtls
  addr: ":18094"
  handler:
    type: relay
    auth:
      username: user
      password: {{dtls_user_pass | default('set_me')}}
  listener:
    type: dtls
- name: relay-wss
  addr: ":18095"
  handler:
    type: relay
    auth:
      username: user
      password: {{wss_user_pass | default('set_me')}}
  listener:
    type: wss
