<yandex>
     <!-- Listen wildcard address to allow accepting connections from other containers and host network. -->

{% if clickhouse_bind_all_iface is defined %}
    <listen_host>::</listen_host>
{% else %}
    <listen_host>::1</listen_host>
    <listen_host>127.0.0.1</listen_host>
{% if clickhouse_bind_addr is defined %}
    <listen_host>{{clickhouse_bind_addr}}</listen_host>
{% endif %}
{% endif %}
    <listen_try>1</listen_try>
    <https_port>8443</https_port>
    <tcp_port_secure>9440</tcp_port_secure>
    <!--
    <logger>
        <console>1</console>
    </logger>
    -->
</yandex>