version: '3.7'

services:
  clickhouse:
    image: clickhouse/clickhouse-server:{{clickhouse_version}}
    container_name: clickhouse
    hostname: {{clickhouse_srv_name}}
### docs https://clickhouse.com/docs/ru/operations/troubleshooting/ or allow access use 0.0.0.0/0
    network_mode: host
    volumes:
       - {{clickhouse_path}}/data:/var/lib/clickhouse
       - {{clickhouse_path}}/logs:/var/log/clickhouse-server
       - {{clickhouse_path}}/conf/config.xml:/etc/clickhouse-server/config.xml
       - {{clickhouse_path}}/conf/docker_related_config.xml:/etc/clickhouse-server/config.d/docker_related_config.xml
#       - {{clickhouse_path}}/conf/users.xml:/etc/clickhouse-server/users.xml
       - {{clickhouse_path}}/users.d:/etc/clickhouse-server/users.d/
{% if clickhouse_ssl is defined %}
       - {{ssl_key_app_path| default('/opt/ssl')}}/self-signed-cert.pem:/etc/clickhouse-server/server.crt
       - {{ssl_key_app_path| default('/opt/ssl')}}/self-signed-key.pem:/etc/clickhouse-server/server.key
       - {{ssl_key_app_path| default('/opt/ssl')}}/dhparam.pem:/etc/clickhouse-server/dhparam.pem
{% endif %}
    ulimits:
      nofile:
        soft: "262144"
        hard: "262144"
#    command:
{% if clickhouse_restart is defined %}
    restart: always
{% endif %}
    logging:
{% if fluentd is defined %}
      driver: fluentd
      options:
        tag: clickhouse
{% else %}
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
{% endif %}
{% if clickhouse_consul_exporter is defined %}
  clickhouse.exporter:
    image: flant/clickhouse-exporter:{{clickhouse_exporter_version}}
    container_name: clickhouse.exporter
    hostname: ch.exporter-{{stand_type}}
    network_mode: host
    depends_on:
      - clickhouse
    restart: always
    environment:
      - CLICKHOUSE_USER={{exporter_user}}
      - CLICKHOUSE_PASSWORD={{ vault_dict_users_secret.user_ch_exporter }}
    command:
      - -scrape_uri
      - http://{{clickhouse_bind_addr}}:8123
      - -telemetry.address
      - {{clickhouse_bind_addr}}:{{clickhouse_exporter_port}}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
{% endif %}
