## {{ ansible_managed }} ##

{% if ssh_address_family is not defined or ssh_address_family == 'any' %}
AddressFamily any
{% elif ssh_address_family == 'ipv4' %}
AddressFamily inet
{% elif ssh_address_family == 'ipv6' %}
AddressFamily inet6
ListenAddress ::
{% endif %}

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
RekeyLimit 1G 1H
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group18-sha512,diffie-hellman-group16-sha512,diffie-hellman-group14-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
SyslogFacility AUTHPRIV

# user sessions
{% if wg_ext is not defined %}
PermitRootLogin no
{% endif %}
{% if wg_ext is defined %}
PermitRootLogin yes
{% endif %}
MaxAuthTries 3
MaxSessions 5
ClientAliveInterval 3600
ClientAliveCountMax 6
TCPKeepAlive yes

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
HostbasedAuthentication no
IgnoreRhosts yes
PermitEmptyPasswords no
PasswordAuthentication {{ssh_password_authentication | default('no')}}
ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
GSSAPICleanupCredentials yes

UsePAM yes
X11UseLocalhost no
PermitUserEnvironment no

UseDNS no
MaxStartups 10:50:30
PermitTunnel no

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

{% if ansible_distribution == 'CentOS' %}
Subsystem sftp    /usr/libexec/openssh/sftp-server
{% else %}
Subsystem sftp /usr/lib/openssh/sftp-server
{% endif %}

# Enable AllowAgentForwarding if you need to jump through this host
{% if mgmt_jump is sameas true %}
AllowAgentForwarding yes
AllowTcpForwarding yes
{% else %}
AllowAgentForwarding yes
AllowTcpForwarding no
{% endif %}
X11Forwarding no
PrintMotd no
Compression no

#KbdInteractiveAuthentication yes
# The option disables keyboard-interactive authentication. This is one method of authentication that may include a password prompt or other forms of authentication.
KbdInteractiveAuthentication no

{% if ssh_override_port is defined %}
#different ssh port for gitlab work
Port {{ssh_override_port}}
{% endif %}

{% if required_ssh_hw_key is defined %}
PubkeyAcceptedKeyTypes sk-ssh-ed25519@openssh.com,sk-ecdsa-sha2-nistp256@openssh.com
{% endif %}

{% if required_ssh_rsa_support is defined %}
PubkeyAcceptedKeyTypes=+ssh-rsa
{% endif %}
