[Resolve]
DNS={% for ns in dns_nameservers %}{{ ns }} {% endfor %}

{% if dns_resolved_domains is defined %}
Domains={{ dns_resolved_domains | join(' ') }}
{% endif %}

Cache=no-negative
LLMNR=false
DNSStubListener=no
