network:
  version: 2
  renderer: networkd
  ethernets:
    {{second_interface_name}}:
      dhcp4: yes
{% if '10.125' in ansible_facts[second_interface_name].ipv4.address%}
      routes:
       - to: 10.115.0.0/16
         via: 10.125.0.1
{% endif %}
{% if '10.130' in ansible_facts[second_interface_name].ipv4.address%}
      routes:
       - to: 10.115.0.0/16
         via: 10.130.0.1
{% endif %}