##### ANSIBLE generated config
## {{ ansible_managed }} ##
##### not change hands
####  your changes will be lost

server {
        listen {{nginx_bind_addr}}:{{item.http_port | default ("80")}};
        server_name {{item.servername}};

# set url for lets encrypt
        location /.well-known/ {
        allow all;
        alias   /var/lib/letsencrypt/;
        default_type "text/plain";
        try_files $uri =404;
        }

        return 301 https://$host$request_uri;
}

server {
        listen  {{nginx_bind_addr}}:{{item.https_ports | default ("443")}} ssl;
        server_name {{item.servername}};

# set url for lets encrypt
        location /.well-known/ {
        allow all;
        alias   /var/lib/letsencrypt/;
        default_type "text/plain";
        try_files $uri =404;
        }

# log project use  include
{% if nginx_logs_stdout is not defined %}
        access_log  {{ nginx_log_path }}/{{ item.servername.split(' ')[0] }}-access.log  {{ nginx_log_format | default ("extend_json") }};
        error_log   {{ nginx_log_path }}/{{ item.servername.split(' ')[0] }}-error.log;
{% endif %}
{% if nginx_logs_stdout is defined %}
        access_log  /dev/stdout  {{nginx_log_format |default ("extend_json")}};
        error_log   /dev/stdout;
{% endif %}

## include ssl certificate
{% if nginx.vhosts %}
    ssl_certificate     {{ nginx_ssl_path }}/{% if item.domain is defined %}{{ item.domain }}{% else %}{{ nginx_default_domain }}{% endif %}/{{ item.certname | default ("fullchain.pem") }};
    ssl_certificate_key {{ nginx_ssl_path }}/{% if item.domain is defined %}{{ item.domain }}{% else %}{{ nginx_default_domain }}{% endif %}/{{ item.privkey | default ("privkey.pem") }};
{% endif %}

# Ansible management
{% for included in  nginx.include %}
    include  {{ included }};
{% endfor %}

### end ansible management
   location / {
    proxy_pass              {{item.upstream_protocol}}://{{item.upstream_name}}.{{item.domain}}/;
    proxy_set_header        Host $host;
    proxy_set_header        Referer {{item.upstream_protocol}}://{{item.upstream_name}}.{{item.domain}}/ipa/ui;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto https;
    proxy_cookie_domain     realipa.my.org ipa.my.org;
    proxy_connect_timeout   150;
    proxy_send_timeout      100;
    proxy_read_timeout      100;
    proxy_buffers           4 32k;
    client_max_body_size    200M;
    client_body_buffer_size 512k;
    keepalive_timeout       5;
    add_header              Strict-Transport-Security max-age=63072000;
    add_header              X-Frame-Options DENY;
    add_header              X-Content-Type-Options nosniff;
   }
}

### end generate config