##### ANSIBLE generate config
##### not change hands
####  your changes will be lost

server {
        listen {{item.http_port}};
        server_name {{item.servername}};

# set url for lets encrypt
        location /.well-known/ {
        allow all;
        alias   /var/lib/letsencrypt/;
        default_type "text/plain";
        try_files $uri =404;
        }

        return 301 https://$host$request_uri;
}

server {
        listen  {{item.https_ports}} ssl;
        server_name {{item.servername}};

# set url for lets encrypt
        location /.well-known/ {
        allow all;
        alias   /var/lib/letsencrypt/;
        default_type "text/plain";
        try_files $uri =404;
        }

# log project use  include
        access_log  {{nginx_log_path}}/{{item.servername.split(' ')[0]}}-access.log  {{nginx_log_format}};
        error_log   {{nginx_log_path}}/{{item.servername.split(' ')[0]}}-error.log;

## include ssl certificate
### start ansible management SSL
{% if nginx.vhosts %}
{% if item.cert_type == "wild" %}
#### wild
    ssl_certificate  {{nginx_ssl_path}}/{{item.domain}}/{{item.certname}};
    ssl_certificate_key {{nginx_ssl_path}}/{{item.domain}}/{{item.privkey}};
{% endif %}
{% if item.cert_type == "personal" %}
#### personal
    ssl_certificate  {{nginx_ssl_path}}/{{item.servername.split(' ')[0]}}/{{item.certname}};
    ssl_certificate_key {{nginx_ssl_path}}/{{item.servername.split(' ')[0]}}/{{item.privkey}};
{% endif %}
{% endif %}
### end ansible management SSL

# Ansible management
{% for included in  nginx.include %}
    include  {{ included }};
{% endfor %}

### end ansible management
   location / {
    proxy_pass              {{item.upstream_protocol}}://{{item.upstream_name}}.{{internal_domain}}/;
    proxy_set_header        Host $host;
    proxy_set_header        Referer {{item.upstream_protocol}}://{{item.upstream_name}}.{{internal_domain}}/ipa/ui;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto https;
    proxy_cookie_domain     realipa.my.org ipa.my.org;
    proxy_connect_timeout   150;
    proxy_send_timeout      100;
    proxy_read_timeout      100;
    proxy_buffers           4 32k;
    client_max_body_size    200M;
    client_body_buffer_size 512k;
    keepalive_timeout       5;
    add_header              Strict-Transport-Security max-age=63072000;
    add_header              X-Frame-Options DENY;
    add_header              X-Content-Type-Options nosniff;
   }
}

### end generate config