## {{ ansible_managed }} ##

PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
PluginSocket=/run/zabbix/agent.plugin.sock
ControlSocket=/run/zabbix/agent.sock

{% if hostname_item is defined %}
ListenIP=127.0.0.1
{% else %}
ListenIP={{zbx_agent_bind_addr }}
{% endif %}

LogFileSize={{zbx_log_size}}
Server={{ '127.0.0.1' if ( hostname_item is defined ) else zserver }}
ServerActive={{ '127.0.0.1' if ( hostname_item is defined ) else zserveractive }}
{% if hostname_item is defined %}
Hostname={{hostname_item}}
{% else %}
HostnameItem=system.hostname
{% endif %}

HostMetadata={% for zbx in  zabbix.apply_tag %}{{zbx}}{% endfor %}{% if zabbix.owner is defined %}{% for owner in  zabbix.owner %}owner-{{owner}} {% endfor %} {% endif %}

Timeout=30
Include=/etc/zabbix/zabbix_agent2.d/*.conf
# add 2023-07-05
# new for zabbix 6
Include=./zabbix_agent2.d/plugins.d/*.conf