## {{ ansible_managed }} ##

PidFile=/var/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log

{% if dc_location == 'example_dc' and  ansible_distribution_major_version == '7' and  ansible_hostname != 'zbx.example.com' %}
ListenIP={{ ansible_eth1.ipv4.address if ( dc_location == 'example_dc' ) else ansible_default_ipv4.address }}
{% endif %}
{% if dc_location == 'example_dc' and  ansible_distribution_major_version != '7' and  ansible_hostname != 'zbx.example.com' %}
ListenIP={{ ansible_facts[second_interface_name].ipv4.address if ( dc_location == 'example_dc' ) else ansible_default_ipv4.address }}
{% endif %}
{% if ansible_hostname == 'zbx.example.com' %}
ListenIP=127.0.0.1
{% endif %}

LogFileSize={{zbx_log_size}}
Server={{ '127.0.0.1' if ( ansible_hostname == 'zbx.example.com' ) else zserver }}
ServerActive={{ '127.0.0.1' if ( ansible_hostname == 'zbx.example.com' ) else zserveractive }}
HostnameItem=system.hostname
HostMetadata={% for zbx in  zabbix.apply_tag %}{{zbx}} {% endfor %}

Timeout=30
Include=/etc/zabbix/zabbix_agent2.d/*.conf
