services:
  tonproxy:
    image: tonstakers/ton-proxy:{{tonproxy_image_version | default('latest')}}
    container_name: tonproxy
    hostname: tonproxy-{{ stand_type | default('none') }}
    network_mode: host
{% if tonproxy_restart is defined %}
    restart: always
{% endif %}
    volumes:
      - {{tonproxy_data_path}}/adnl:/opt/ton-proxy/adnl
      - {{tonproxy_data_path}}/keyring:/opt/ton-proxy/keyring
      - {{tonproxy_data_path}}/tonlib-cache:/opt/ton-proxy/tonlib-cache
      - {{tonproxy_data_path}}/global.config.json:/opt/ton-proxy/global.config.json
{% if tonproxy_mode == "direct" %}
    command: "rldp-http-proxy -p {{tonproxy_port_in}} -a {{tonproxy_bind_addr}}:{{tonproxy_blockchain_in}} -C global.config.json -A {{toproxy_adnl_id}} -d -v{{ton_proxy_log_level}}"
{% else %}
    command: "rldp-http-proxy -a  {{tonproxy_bind_addr}}:{{tonproxy_blockchain_in}} -R '*'@{{tonproxy_reverse_addr}} -C global.config.json -A {{toproxy_adnl_id}} -d -v{{ton_proxy_log_level}}"
{% endif %}
    logging:
{% if vector_server_fluent_address is defined %}
      driver: fluentd
      options:
        fluentd-address: {{vector_server_fluent_address}}:{{ vector_server_fluent_port | default('24224') }}
        tag: tonproxy
        fluentd-async: "{{fluent_async}}"
        fluentd-buffer-limit: "{{fluendt_buffer_limit}}"
{% else %}
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
{% endif %}








