services:
  teleport:
    image: {{teleport_registry}}:{{teleport_version}}
    container_name: teleport
    hostname: teleport
    network_mode: host
    volumes:
      - {{teleport_data_path}}/data:/var/lib/teleport
      - {{teleport_data_path}}/conf/teleport.yaml:/etc/teleport/teleport.yaml
{% if teleport_backup is defined %}
      - {{teleport_data_path}}/backup:/opt/teleport/backups
{% endif %}
    restart: "{{ teleport_restart | default('unless-stopped') }}"
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
