{
    "iptables":{{docker_iptables_management}},
    "fixed-cidr": "172.17.0.0/12",
{% if docker_daemon_json_userns_remap is defined %}
    "userns-remap": "default",
{% endif %}
    "default-address-pools": [
    {
      "base": "172.17.0.0/12",
      "size": 24
    }
  ]
}