---
alertmanager_image: "v0.28.1"


# base directory config
alertmanager_telegram_bot_token: "{{ vault_dict_users_secret_g2.alertmanager_telegram_bot_token.value | default('set_me') }}"
alertmanager_slack_webhook_url: "{{ vault_dict_users_secret_g2.alertmanager_slack_webhook_url.value | default('set_me') }}"

am_compose_path: "/opt/docker/alertmanager"
alertmanager_data_path: /opt/alertmanager
alertmanager_db_dir: "{{ alertmanager_data_path }}/data"
alertmanager_config_path: "{{ alertmanager_data_path }}/config"
alertmanager_config_dir: /etc/alertmanager
alertmanager_user_uid: "65534"
alertmanager_user_gid: "65534"
# version and bind
alertmanager_bind_address: '[::]'
alertmanager_http_location: "/"
alertmanager_web_listen_address: "{{ alertmanager_bind_address }}:9093"
alertmanager_web_external_url: "http://{{ alertmanager_bind_address }}:9093{{ alertmanager_http_location }}"

# command to run
alertmanager_command_run:
  - "config.file={{ alertmanager_config_dir }}/alertmanager.yml"
  - "storage.path={{ alertmanager_db_dir }}"
  - "web.listen-address={{ alertmanager_web_listen_address }}"
  - "web.external-url={{ alertmanager_web_external_url }}"
  - cluster.listen-address="" # disable HA

# config section
alertmanager_template_files:
  - telegram.tmpl
  - slack2025.tmpl
  # - slack.tmpl
  # - slack-c1.tmpl

alertmanager_config_file: 'alertmanager.yml.j2'
alertmanager_http_config: {}
alertmanager_resolve_timeout: 3m
alertmanager_config_flags_extra: {}
alertmanager_smtp: {}
# Default values you can see here -> https://prometheus.io/docs/alerting/configuration/
alertmanager_pagerduty_url: ''
alertmanager_opsgenie_api_key: ''
alertmanager_opsgenie_api_url: ''
alertmanager_hipchat_api_url: ''
alertmanager_hipchat_auth_token: ''
alertmanager_wechat_url: ''
alertmanager_wechat_secret: ''
alertmanager_wechat_corp_id: ''
# First read: https://github.com/prometheus/alertmanager#high-availability
alertmanager_cluster:
  listen-address: ""
# alertmanager_receivers: []
# alertmanager_receivers:
#   - name: slack
#     slack_configs:
#       - send_resolved: true
#         channel: '#alerts'
alertmanager_inhibit_rules: []
alertmanager_child_routes: []
# alertmanager_route: {}
# this config use only test launch, need redefine variable in group_vars
alertmanager_slack_api_url: "https://example.webhook.com"
alertmanager_route:
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: example-alerts

alertmanager_receivers:
  - name: "example-alerts"
    webhook_configs:
    slack_configs:
      - send_resolved: true
        channel: '#example-prom'
        color: !unsafe '{{ template "slack.color" . }}'
        title: !unsafe '{{ template "slack.title" . }}'
        text: !unsafe '{{ template "slack.text" . }}'
