version: "3.7"

networks:
  redis:
    driver: bridge
    name: redis
    attachable: true

services:
  redis:
    image: {{redis_image}}:{{redis_version}}
    container_name: redis
    hostname: {{redis_appname}}-{{stand_type}}
    sysctls:
      net.core.somaxconn : 65535
    networks:
      - redis
    ports:
      - {{redis_bind_addr}}:{{redis_port}}:{{redis_port}} # redis port
    volumes:
      - {{redis_node_data_path}}:{{redis_node_data_path}}
    command: redis-server /opt/redis/redis.conf {% if redis_auth_enabled is defined %} --requirepass {{ vault_dict_users_secret.redis_pass }}{% endif %}

{% if redis_restart is defined %}
    restart: always
{% endif %}
    logging:
{% if vector is defined %}
      driver: fluentd
      options:
        fluentd-address: {{vector_srv}}:{{vector_port}}
        tag: redis
{% else %}
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'
{% endif %}

  redis.exporter:
    image: oliver006/redis_exporter:{{redis_exporter_version}}
    container_name: redis.exporter
    depends_on:
      - redis
    networks:
      - redis
    ports:
      - {{redis_exporter_bind_addr}}:{{redis_exporter_port}}:{{redis_exporter_port}} # redis exporter port
    command: ["--redis.addr", "redis://redis:{{redis_port}}"]
{% if redis_restart is defined %}
    restart: always
{% endif %}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'

  node.exporter:
    image: prom/node-exporter:{{node_exporter_version}}
    container_name: node.exporter
    networks:
      - redis
    ports:
      - {{redis_exporter_bind_addr}}:9100:9100 # node exporter port
{% if redis_restart is defined %}
    restart: always
{% endif %}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'

  consul:
    image: hashicorp/consul:{{consul_agent_image}}
    container_name: consul
    hostname: {{ansible_hostname}}.{{internal_domain}}
    networks:
      - redis
    ports:
      - {{global_bind_addr}}:8301:8301
      - {{global_bind_addr}}:8301:8301/udp
    volumes:
      - /etc/consul.d/:/consul/config
      - {{consul_data_path}}/data:/consul/data
    command: ["agent", "-client", "0.0.0.0","-bind", "0.0.0.0", "-advertise", "{{global_bind_addr}}"]
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'