service {
  name = "redis-exporter"
  tags = ["redis-exporter", "prometheus", "{{stand_type}}"]
  address = "{{redis_exporter_bind_addr}}"
  port = 9121
{% if consul_agent_disabled is not defined %}
  token = "{{ vault_dict_users_secret.consul_redis_exporter }}"
{% endif %}
  check = {
    id = "redis_exporter"
    name = "redis_exporter healthcheck"
    tcp = "redis.exporter:9121"
    interval =  "30s"
    timeout =  "2s"
    }
}
