[Unit]
Description = TON Node Validator
After = network.target

[Service]
Type = simple
Restart = always
# delay need for monitoring failure alert
RestartSec=300 # restart after failure delay 5 minute
MemoryLimit={{adjusted_memory_gb}}G

ExecStart = /usr/bin/ton/validator-engine/validator-engine \
  --threads 15 \
  --daemonize \
  --global-config /usr/bin/ton/global.config.json \
  --db /var/ton-work/db/ \
  --logname /var/ton-work/node.log \
  --verbosity 1 \
  --catchain-max-block-delay {{ton_catchain_max_block_delay}} \
  --state-ttl {{ton_node_retention_period}} \
  --archive-ttl {{ton_node_retention_period}} \
  --block-ttl {{ton_node_retention_period}}

ExecStopPost = /bin/echo service down
User = validator
Group = {{ton_node_validator_group| default ('validator') }}

# WorkingDirectory not set
LimitNOFILE = infinity
LimitNPROC = infinity
LimitMEMLOCK = infinity

[Install]
WantedBy = multi-user.target