service {
  name  = "{{ node_exporter_name | default('node-exporter') }}"
  port  = {{ node_exporter_bind_port }}
  tags  = [
    "prometheus",
{% if node_exporter_tags is defined %}
{% for tag in node_exporter_tags %}
        "{{ tag }}",
{% endfor %}
{% endif %}
  ]

  {% if consul_agent_disabled is not defined %}
    token = "{{ consul_node_exporter_token }}"
  {% endif %}

  check = {
    id       = "node-exporter"
    name     = "node-exporter healthcheck"
    tcp      = "{{ node_exporter_bind_addr | default('') }}:{{ node_exporter_bind_port | default('9100') }}"
    interval = "30s"
    timeout  = "2s"
  }
}
