## {{ ansible_managed }} ##

## specific launch read https://chasewright.com/how-to-run-a-polygon-matic-mainnet-node/
services:
  polygon.node:
    container_name: polygon.node
    image: {{matic_registry_addr}}:{{matic_image_name}}
    network_mode: host
    volumes:
      - {{matic_node_data_path}}:{{matic_node_data_path}}
### For trim Polygon
#    command: bor snapshot prune-state --datadir=/opt/polygon/node
### Default launch
    command:
         bor server
         --syncmode=snap
         --datadir={{matic_node_data_path}}/node
         --config {{matic_node_data_path}}/node/matic.toml
{% if matic_restart is defined %}
    restart: always
{% endif %}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'

  heimdalld.node:
    container_name: heimdalld.node
    image: {{heimdall_registry_addr}}:{{heimdall_image_name}}
    network_mode: host
    volumes:
      - {{matic_node_data_path}}/heimdall:{{matic_node_data_path}}/heimdall
    depends_on:
      - polygon.rabbitmq
    command: heimdalld start --chain=mainnet  --home={{matic_node_data_path}}/heimdall
{% if matic_restart is defined %}
    restart: always
{% endif %}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'

  heimdallr.node:
    container_name: heimdallr.node
    image: {{heimdall_registry_addr}}:{{heimdall_image_name}}
    network_mode: host
    volumes:
      - {{matic_node_data_path}}/heimdall:{{matic_node_data_path}}/heimdall
    depends_on:
      - heimdalld.node
    command:
      - heimdalld
      - rest-server
      - --chain=mainnet
      - --laddr=tcp://0.0.0.0:{{heimdall_rpc_port}}
      - --node=tcp://127.0.0.1:26657
      - --home={{matic_node_data_path}}/heimdall
{% if matic_restart is defined %}
    restart: always
{% endif %}

  polygon.rabbitmq:
    container_name: polygon.rabbitmq
    image: rabbitmq:{{matic_rabbitmq_version}}
    network_mode: host
    volumes:
      - {{matic_node_data_path}}/rabbitmq:/var/lib/rabbitmq
{% if matic_restart is defined %}
    restart: always
{% endif %}
    logging:
      driver: json-file
      options:
        max-size: 100m
        max-file: '2'