#### docs https://help.sonatype.com/repomanager3/system-requirements#SystemRequirements-Java
##  hard limit for max opened files
{{nexus_user}}      hard nofile 65535
##  soft limit for max opened files
{{nexus_user}}       soft nofile 65535